@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$navSlideTime: 0.5s;

.appShell {
  position: relative;
}

.main {
  z-index: 10;
  position: relative;
  min-width: 320px;
  overflow: hidden;
  // Vital to the dynamically-positioned footer, to avoid movement into
  // content area between pages.
  min-height: 100dvh;
}

.navRevelator {
  right: 0;
  transition: right $navSlideTime;
  box-shadow: 10px 5px 60px black;

  .isMobileNavExpanded & {
    // 'right' (or left) property must be used in favor of transform,
    // as transform causes the fixed nav to shift off screen.
    // That might be a browser defect.
    right: 50vw;
  }
}

// Prevents the underlying nav from showing during recoil from
// inertial scroll.
.underlay {
  position: fixed;
  z-index: 5;
  height: 100dvh;
  width: 100vw;
  transition: right $navSlideTime;
  background-color: #000;
  right: 0;
  .isMobileNavExpanded & {
    right: 50vw;
  }
}
