@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$navSlideTime: 0.5s;

.appShell {
  position: relative;
}

.main {
  z-index: 10;
  position: relative;
  min-width: 320px;
  background-color: black;
  background-image: url("/images/common/bg-grad.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}

.navRevelator {
  transition: transform $navSlideTime;
  box-shadow: 10px 5px 60px black;

  .isMobileNavExpanded & {
    transform: translateX(-$navExpandWidth);

    @include breakpointUp($maxNavExpandWidth * 2) {
      transform: translateX(-$maxNavExpandWidth);
    }
  }
}

// Prevents the underlying nav from showing during recoil from
// inertial scroll, and whenever repaint lags occur
.underlay {
  position: fixed;
  inset: 0;
  z-index: 2; // Stays layered over the slide-out nav
  background-color: #000;
  transition: transform $navSlideTime;

  .isMobileNavExpanded & {
    transform: translateX(-$navExpandWidth);
    @include breakpointUp($maxNavExpandWidth * 2) {
      transform: translateX(-$maxNavExpandWidth);
    }
  }
}

.childContent {
  display: flow-root; // establish non-collapsing block formatting context
  min-height: 100svh;
}
