@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$navSlideTime: 0.5s;

#main {
  z-index: 10;
  position: relative;
  transition: right $navSlideTime;
  right: 0;
  // box-shadow: 10px 5px 60px black;
  min-width: 320px;
  overflow: hidden;

  :global(.isMobileNavExpanded) & {
    // 'right' (or left) property must be used in favor of transform,
    // as transform causes the fixed nav to shift off screen.
    // That might be a browser defect.
    right: 50vw;
  }
}

// Prevents the underlying nav from showing during recoil from
// inertial scroll.
.underlay {
  // display: none;
  position: fixed;
  z-index: 5;
  height: 100dvh;
  width: 100vw;
  transition: right $navSlideTime;
  background-color: #000;
  right: 0;
  // opacity: 0.5;
  :global(.isMobileNavExpanded) & {
    right: 50vw;
  }
}
