@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.bolt {
  position: absolute;
}

.yellowBolt {
  transform: translateX(-50%);
  width: 100px;
  height: 300px;
}

.lightning {
  position: absolute;
  top: 10px;
  left: -50%;
  transform-origin: -23px top;
}
