@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.bolt {
  position: absolute;
}

.yellowBolt {
  position: absolute;
}

.lightning {
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
  width: 500px;
  animation: pulseScale 3s infinite ease-in-out;
}

@keyframes pulseScale {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
