@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$offset: -1vw;

.borderBlinker {
  position: absolute;
  isolation: isolate; // Creates a new stacking context
  width: 100%;
  height: 100%;
  pointer-events: none;
  @include fluidProperty(--thickness, $b320px, $b1920px, 20px, 40px);
}

.borderSide {
  position: absolute;
  background-color: transparent;
  pointer-events: none;
  opacity: 0.9;
}

.top {
  top: $offset;
  left: 0;
  width: 100%;
  height: var(--thickness);
}

.right {
  top: 0;
  right: $offset;
  width: var(--thickness);
  height: 100%;
}

.bottom {
  bottom: $offset;
  left: 0;
  width: 100%;
  height: var(--thickness);
}

.left {
  top: 0;
  left: $offset;
  width: var(--thickness);
  height: 100%;
}

@keyframes blinkBorder {
  0% {
    background-color: transparent;
    filter: blur(0);
  }
  10% {
    background-color: currentColor;
  }
  100% {
    background-color: transparent;
  }
}

.blink-top {
  animation: blinkBorder 0.5s linear;
  color: $lighterThemeColor;
}

.blink-right {
  animation: blinkBorder 0.5s linear;
  color: $complimentaryThemeColor;
}

.blink-bottom {
  animation: blinkBorder 0.5s linear;
  color: yellow;
}

.blink-left {
  animation: blinkBorder 0.5s linear;
  color: orange;
}
