@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$thickness: clamp(10px, 3vw, 30px);

.borderBlinker {
  position: absolute;
  isolation: isolate; // Creates a new stacking context
  width: 100%;
  height: 100%;
  pointer-events: none;
  --thickness: #{$thickness};
}

.borderSide {
  position: absolute;
  background-color: transparent;
  pointer-events: none;
  opacity: 0.9;
}

.top {
  top: 0;
  left: 0;
  width: 100%;
  height: var(--thickness);
}

.right {
  top: 0;
  right: 0;
  width: var(--thickness);
  height: 100%;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--thickness);
}

.left {
  top: 0;
  left: 0;
  width: var(--thickness);
  height: 100%;
}

@keyframes blinkBorder {
  0% {
    background-color: transparent;
    filter: blur(0);
  }
  10% {
    background-color: currentColor;
  }
  100% {
    background-color: transparent;
    filter: blur(20px);
  }
}

.blink-top {
  animation: blinkBorder 1s ease;
  color: $lighterThemeColor;
}

.blink-right {
  animation: blinkBorder 1s ease;
  color: $complimentaryThemeColor;
}

.blink-bottom {
  animation: blinkBorder 1s ease;
  color: yellow;
}

.blink-left {
  animation: blinkBorder 1s ease;
  color: orange;
}
