@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.chargedCircle {
  position: absolute;
  top: 25px;
  left: 25px;
  animation: spin 6s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bolt {
  position: absolute;
  transform-origin: top left;
}

.bolt2 {
  transform: rotate(120deg);
}

.bolt3 {
  transform: rotate(240deg);
}

.scaler {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transition: transform 0.1s ease-in-out;

  :global(.isDragging) & {
    transition: transform 0.6s ease-in-out;
    transform: scale(1);
  }
}
