.wrapper {
  position: relative;
  height: 1em;
  color: white;
  pointer-events: none;
}

.measure {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.frameStack {
  position: relative;
  height: 1em;
}

.frame {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;

  transform: translateX(var(--scroll-offset)) translateY(var(--bounce-offset));
  mask-image: linear-gradient(90deg, black 100%);
  mask-size: 100px 100%;
  mask-repeat: no-repeat;
  mask-position: var(--bounce-offset) 0%;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.arrowImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/home/orb-arrow-green.webp") center center no-repeat;
  background-size: contain;
  transform: translateY(var(--bounce-offset));
  pointer-events: none;
  z-index: 10;
}
