@use "@/styles/global" as *;
@use "@/components/common/HeaderShared.module.scss" as headerShared;

header.header-main {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  height: 37vw;
  letter-spacing: 1px;
  overflow: hidden;

  h1 {
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 0.5em;

    color: #fff;
    font-weight: 400; // Only a factor before fonts load.
    opacity: 0.999; // Temp fix for z-index issue.
    @include breakpoint-up($b480px) {
      font-size: 48px;
    }
  }

  h5 {
    color: white;
    font-weight: 400;
  }
}

.fluxel-wrapper {
  position: absolute;
  z-index: 0;
  width: max(100vw, 100vh);
  height: max(100vw, 100vh);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  & > * {
    position: absolute;
    overflow: hidden;
    min-width: max(100vw, 100vh);
    min-height: max(100vw, 100vh);
  }
}

.header-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents image/element dragging */
  pointer-events: none; /* Prevents interactions */
}

.subhead {
  font-size: 22px;
  line-height: 1.4em;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
  overflow: hidden;
  position: relative;
  line-height: 0.9em;

  &.subhead-desktop {
    display: none;
  }

  @include breakpoint-up(500px) {
    &.subhead-mobile {
      display: none;
    }
    &.subhead-desktop {
      display: block;
    }
  }
}

.bull {
  position: relative;
  color: $lighterThemeColor;
  font-size: 1.2em;
  position: relative;
  top: 1px;
  @include breakpoint-up(500px) {
    top: 2px;
  }
}

.header-logo {
  opacity: 1;
  max-height: 45vh;
  position: relative;
  top: -11px;
  margin-bottom: -30px;
}

$bottom: 50px;

.view-portfolio {
  position: absolute;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  will-change: bottom, opacity;
  text-decoration: none;
  justify-self: end;
  bottom: $bottom;

  &::after {
    content: "";
    position: absolute;
    border-top: 7px solid #fff;
    border-left: 7px solid #fff;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 60px;
    transform-origin: 0 0;
    transform: rotate(-135deg);
  }
}

.scrolled-to-top {
  .view-portfolio {
    animation: fadeBounce 2s infinite forwards;
  }

  @keyframes fadeBounce {
    0% {
      opacity: 0.25;
      bottom: $bottom;
    }
    50% {
      opacity: 1;
      bottom: calc($bottom + 10px);
    }
    100% {
      opacity: 0.25;
      bottom: $bottom;
    }
  }
}

.last-name {
  color: $lighterThemeColor;
}

.first-name {
  color: #999;
}

.barber-pole {
  height: 34px;
  width: 34px;
}

.balls-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.spinner {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  z-index: 10000;
}
