@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.header-main {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  letter-spacing: 1px;
  user-select: none;
  z-index: 10;
  overflow: hidden;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/images/common/bg-grad.svg");

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw;
    // background-image: url("/images/fortune-tellers/teller-1.webp");
  }

  h1 {
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 1.1em;
    margin-bottom: 0.2em;
    margin-left: -0.05em;
    color: #fff;
    font-weight: 400; // Only a factor before fonts load.
    @include breakpoint-up($b480px) {
      font-size: 48px;
    }
  }

  h5 {
    color: white;
    font-weight: 400;
  }
  & > * {
    user-select: none;
  }
}

.header-wrapper {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  user-select: none; /* Prevents text selection */
  padding: 20px 20px;
  pointer-events: none;
  max-width: 85vw;
  left: 0;
}

.subhead {
  font-size: 22px;
  margin-bottom: -6px;
  letter-spacing: 0.07em;
  overflow: hidden;
  position: relative;
  line-height: 1.4em;
}

.bull {
  position: relative;
  color: $lighterThemeColor;
  font-size: 1.2em;
  position: relative;
  top: 1px;
  @include breakpoint-up(500px) {
    top: 3px;
  }
}

.logo-wrapper {
  width: 140px;
}

.header-logo {
  margin-left: -18%;
  width: 100%;
  opacity: 1;
  position: relative;
  top: -11px;
  margin-bottom: -20px;
}

$bottom: 10px;

.last-name {
  color: $lighterThemeColor;
}

.first-name {
  color: #999;
}

.barber-pole {
  height: 34px;
  width: 34px;
  margin: 0 4px;
}

.debug {
  position: absolute;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 700px;
  top: 200px;
  right: 0;
}

.balls-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.fluxel-wrapper {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;

  & > * {
    border: 1px solid #000;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 4/3;
    height: 100vmax;
    @media (min-aspect-ratio: 4/3) {
      height: auto;
      width: 100vmax;
    }
  }
}

.spinner {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  z-index: 10000;
}

$ctaOffset: -91px;

.cta-wrapper {
  right: $ctaOffset;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 10000;
  transition: right 0.5s;
  @include breakpoint-up($b768px) {
    transform: scale(1.2);
  }
}

.has-dragged .cta-wrapper {
  transition-delay: 1s;
  right: 0;
}

.has-scrolled-out .cta-wrapper {
  transition-delay: 0s;
  right: $ctaOffset;
}

.cta {
  position: absolute;
  bottom: 10px;
  right: 12px;
  color: #fff;
  width: 0;
  height: 0;
  animation: fadeBounce 2.5s infinite forwards;

  &:after {
    content: " ";
    bottom: 0;
    right: 0;
    position: absolute;
    color: #fff;
    cursor: pointer;
    will-change: bottom, opacity;
    text-decoration: none;
    height: 155px;
    width: 64px;
    background-repeat: repeat;
    background-image: url("/images/home/hello-bolt-outline.svg");
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
}

.cta-text {
  position: absolute;
  display: block;
  left: -29px;
  top: -45px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  font-size: 16px;
  width: max-content;
}

.debug {
  display: none;
  position: absolute;
  z-index: 10000;
  color: white;
  left: 0;
  top: 0;
  margin-right: auto;
}

.has-dragged {
  :global(.slinger-obj)::before {
    animation: fadeOut 0.5s ease-out forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.message {
  z-index: 3;
}
