@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.hero {
  visibility: visible;
  position: fixed;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  letter-spacing: 1px;
  user-select: none;
  z-index: 10;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    // background-image: url("/images/fortune-tellers/teller-1.webp");
    // animation: fadeInOut 3s infinite ease-in-out;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.branding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  user-select: none; /* Prevents text selection */
  padding: 20px 20px;
  pointer-events: none;
  max-width: 85vw;

  h1 {
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: -0.05em;
    color: #fff;
    font-weight: 400; // Only a factor before fonts load.
    @include breakpointUp($b480px) {
      font-size: 48px;
    }
  }

  h5 {
    color: white;
    font-weight: 400;
  }
  & > * {
    user-select: none;
  }
}

.headerWrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #222;
  overflow: hidden;
}

.subhead {
  font-size: 22px;
  margin-bottom: -6px;
  letter-spacing: 0.07em;
  overflow: hidden;
  position: relative;
  line-height: 1.4em;
}

.bull {
  position: relative;
  color: $lighterThemeColor;
  font-size: 1.2em;
  position: relative;
  top: 1px;
  @include breakpointUp(500px) {
    top: 3px;
  }
}

.logoWrapper {
  width: 140px;
}

.heroLogo {
  margin-left: -18%;
  width: 100%;
  opacity: 1;
  position: relative;
  top: -11px;
  margin-bottom: -20px;
}

$bottom: 10px;

.lastName {
  color: $lighterThemeColor;
}

.firstName {
  color: #999;
}

.barberPole {
  height: 34px;
  width: 34px;
  margin: 0 4px;
  & > * {
    animation-play-state: paused;
  }
}

:global(.isSlingerIdle) {
  .barberPole > * {
    animation-play-state: running !important;
  }
}

.debug {
  position: absolute;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 700px;
  top: 200px;
  right: 0;
}

.gridController {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;

  & > * {
    border: 1px solid #000;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.borderBlinker {
  position: absolute;
  z-index: 2;
}

.slingerWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

.spinner {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  z-index: 10000;
}

$scrollCtaOffset: -100px;

.hasSlung .scrollCta {
  right: 30px;
}

.hasScrolledOut .scrollCta {
  transition-delay: 0s;
  right: $scrollCtaOffset;
  animation-play-state: paused;
}

// Only for scaling.
.scrollCtaWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.8);
  z-index: 10000;
  @include breakpointUp($b768px) {
    transform: scale(1);
  }
}

.scrollCta {
  position: absolute;
  bottom: 10px;
  right: $scrollCtaOffset;
  color: #fff;
  height: 250px;
  width: 76px;
  transition: right 0.8s;
  transition-delay: 2s;
  animation: fadeBounce 2.5s infinite forwards;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/images/home/orange-arrow.webp");
}

@keyframes fadeBounce {
  0% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
}

.scrollCtaText {
  position: absolute;
  display: block;
  left: 37px;
  top: 185px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.01em;
  width: max-content;
  color: #000;
}

.debug {
  display: none;
  position: absolute;
  z-index: 10000;
  color: white;
  left: 0;
  top: 0;
  margin-right: auto;
}

:global(.slinger) {
  &::before {
    content: "Give a toss!";
    opacity: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    width: 146px;
    height: 48px;
    background-image: url("/images/home/ball-bolt.svg");
    color: white;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 10px;
    left: -142px;
    top: -22px;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: rotate(45deg);
    transition: opacity 0.5s linear;
  }

  :global(.notDragged) &::before {
    display: block;
    opacity: 1;
  }

  // Reusing the dragged delay feature to prevent rendering
  // of the transparent slinger CTA
  :global(.hasDraggedDelay) &::before {
    display: none;
  }
}

.message {
  z-index: 3;
}
