@use "@/styles/variables" as *;

.orbGrabTooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  width: 180px;
  height: 180px;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform-origin: center center;

  :global(.hasDragged) & {
    display: none;
  }
}

.grabImage {
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: drop-shadow(0 0 4px $lighterThemeColor);
  user-select: none;
  -webkit-user-drag: none;

  :global(.hasCollided) & {
    display: none !important;
  }

  :global(.slingerInFlight.notCollided) & {
    opacity: 0;
    pointer-events: none;
  }
}
