@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.paragraph-animator {
  position: absolute;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  width: 70%;
  max-width: 700px;
  top: $navBarHeight;
  right: 0;
  text-align: right;
  padding: 16px 20px 0 0;
  pointer-events: none;
  line-height: 1.6em;
  opacity: 1;
  transition: opacity 1s ease-in-out;

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

  @include breakpoint-up($b640px) {
    font-size: 18px;
  }
  @include breakpoint-up($b1024px) {
    font-size: 20px;
  }
  p {
    color: rgba(255, 255, 255, 0);
    span {
      color: rgba(255, 255, 255, 0.8);
    }
    &::before,
    &::after {
      color: $heavierThemeColor;
      display: inline-block;
      line-height: 1.2em;
      font-weight: bold;
      white-space: nowrap;
      display: inline;
    }
    &::before {
      content: "[";
      padding-right: 10px;
    }
    &::after {
      content: "]";
      padding-left: 10px;
    }
  }
}
