@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.paragraphAnimator {
  position: absolute;
  left: var(--hero-padding);
  transform-origin: top left;
  transform: rotate(-90deg);
  pointer-events: none;
  line-height: 1.3em;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  @include remRange(font-size, 14px, 18px);
  @include staticRange(width, 85dvh, 81dvh, $b320px, $b768px);
  @include staticRange(bottom, 53px, 85px, $b320px, $b768px);

  &.paused {
    opacity: 0 !important;
  }

  p {
    margin-top: -3px;
    color: rgba(255, 255, 255, 0);
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
