@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.paragraphAnimator {
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  white-space: pre-wrap;
  left: var(--hero-padding);
  transform-origin: top left;
  transform: rotate(-90deg);
  pointer-events: none;
  line-height: 1.3em;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  @include remRange(font-size, 14px, 18px);
  @include staticRange(width, 84.2dvh, 81dvh, $b320px, $b768px);
  @include staticRange(top, 86.2dvh, 81dvh, $b320px, $b768px);
  @include staticRange(bottom, 53px, 85px, $b320px, $b768px);

  &.paused {
    opacity: 0 !important;
  }

  p {
    color: rgba(255, 255, 255, 0);
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.paragraphLine {
  position: relative;
  font-size: 1.1rem;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1em;
  background-color: $lighterThemeColor;
  animation: blink 1s infinite;
  margin-left: 1px;
}

.cursorSolid {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.visible {
  color: white;
}

.invisible {
  color: gray;
  opacity: 0.3;
  display: none;
}
