@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.slingerBoxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  contain: layout size style;
}

.slinger {
  position: absolute;
  contain: layout size style;
  pointer-events: none;
  // Establish orb sizing so children can reference the radius
  --orb-size: 50px;
  --orb-radius: calc(var(--orb-size) / 2);
  * {
    pointer-events: none;
    contain: layout size style;
  }
  &::after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("/images/hero/spinner.webp");
    background-size: 50px 50px;
    pointer-events: all;
    cursor: grab;
    contain: layout size style;
  }

  &::before {
    // Expand the hit area
    content: " ";
    position: absolute;
    left: -25px;
    top: -25px;
    width: 76px;
    height: 76px;
    pointer-events: all;
    transform: translate(-13px, -13px);
    contain: layout size style;
  }

  &:active {
    &::after {
      cursor: grabbing;
    }
  }
}

// Center anchor inside each slinger; all orb-bound visuals should be children of this
.slingerCenter {
  position: absolute;
  // Don't know why -2px shim is needed to center TODO: investigate
  top: calc(var(--orb-radius) - 2px);
  left: var(--orb-radius);
  pointer-events: none;
  transform-origin: center center;
}
