@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.slingerRay {
  position: absolute;
}

.lightning {
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
  width: calc(122px + 6vw);
  animation: pulseScale 2s infinite ease-in-out;
}

.energyBars {
  position: absolute;
  top: calc(21px + 1vw);
  width: calc(50px + 4vw);
  transform: translateX(-50%);
}

@keyframes pulseScale {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
