@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.slingerRay {
  position: absolute;
}

.lightning {
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
  width: calc(120px + 8vw);
  animation: pulseScale 2s infinite ease-in-out;
}

.energyBars {
  position: absolute;
  top: 20px;
  width: 70px;
  transform: translateX(-50%);
}

@keyframes pulseScale {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
