@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.titleBranding {
  position: absolute;
  display: flex;
  align-items: bottom;
  justify-content: bottom;
  left: var(--hero-padding);
  bottom: var(--hero-padding);
  width: 100vw;
  z-index: 100;
  user-select: none;
  pointer-events: none;
  max-width: 85vw;
  color: white;
  grid-gap: 12px;
  padding-top: 0;

  h1 {
    margin-top: 0;
    line-height: 0.55em;
    letter-spacing: 0.07em;
    margin-left: -0.05em;
    color: #fff;
    margin-bottom: 0.5em;
    font-weight: 400; // Before fonts load.
    @include remRange(font-size, 26px, 40px, $b320px, $b768px);
    @media screen and (min-width: $b768) {
      @include remRange(font-size, 40px, 40px, $b768);
    }
  }
}

.hWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -2px;
}

.title {
  line-height: 0.9em;
  @include remRange(font-size, 12px, 23px);
}

.logoWrapper {
  margin-left: 2px; // Not sure why.
  display: inline-block;
  margin-bottom: -1px;
  @include staticRange(width, 40px, 60px, $b320px, $b768px);
  @include staticRange(min-width, 40px, 60px, $b320px, $b768px);
  & > * {
    // Offset baked-in shadow
    margin-left: -31.5%;
    margin-right: -30%;
    margin-bottom: -32.5%;
    margin-top: -30%;
  }
}

.heroLogo {
  width: 100%;
}

.lastName {
  color: $lighterThemeColor;
}

.firstName {
  color: #999;
}

.barberPole {
  display: none;

  border-radius: 5px;
  @include remRange(width, 16px, 16px);
  @include remRange(height, 16px, 16px);
  @include remRange(margin-left, 10px, 12px);
  @include remRange(margin-right, 10px, 12px);

  > * {
    animation-play-state: paused;
  }

  :global(.isSlingerIdle) & {
    > * {
      animation-play-state: running !important;
    }
  }
  @include breakpointUp($b768px) {
    display: block;
  }
}

.barberPole1 {
  @include remRange(width, 16px, 27px);
  @include remRange(height, 16px, 27px);
}
