@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.titleBranding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  user-select: none;
  padding: $heroPadding;
  pointer-events: none;
  max-width: 85vw;

  h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    letter-spacing: 0.07em;
    margin-left: -0.05em;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400; // Before fonts load.
    @include remRange(font-size, 20px, 38px);
    > * {
      line-height: 0.7em;
    }
  }
}

.logoWrapper {
  margin-left: 2px; // Not sure why.
  display: inline-block;
  margin-bottom: -1px;
  @include staticRange(width, 40px, 60px, $b320px, $b768px);
  @include staticRange(min-width, 40px, 60px, $b320px, $b768px);
  & > * {
    // Offset baked-in shadow
    margin-left: -31.5%;
    margin-right: -30%;
    margin-bottom: -32.5%;
  }
}

.heroLogo {
  width: 100%;
}

.lastName {
  color: $lighterThemeColor;
}

.firstName {
  color: #999;
}

.title {
  @include remRange(font-size, 5px, 23px);
}

.barberPole {
  border-radius: 5px;
  @include remRange(width, 16px, 16px);
  @include remRange(height, 16px, 16px);
  @include remRange(margin-left, 10px, 12px);
  @include remRange(margin-right, 10px, 12px);

  > * {
    animation-play-state: paused;
  }

  :global(.isSlingerIdle) & {
    > * {
      animation-play-state: running !important;
    }
  }
}

.barberPole1 {
  @include remRange(width, 16px, 27px);
  @include remRange(height, 16px, 27px);
}
