@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.titleBranding {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
  user-select: none;
  padding: 1vw;
  pointer-events: none;
  max-width: 85vw;

  h1 {
    @include fluidCSSVar(font-size, 20px, 38px);
    letter-spacing: 0.07em;
    line-height: 0.5em;
    margin-left: -0.05em;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400; // Before fonts load.
  }
}

.logoWrapper {
  @include fluidCSSVar(width, 64px, 60px);
  @include fluidCSSVar(margin-bottom, 10px, 18px);
  & > * {
    // Offset baked-in shadow
    margin-left: -31.5%;
    margin-right: -30%;
    margin-bottom: -32.5%;
  }
}

.heroLogo {
  width: 100%;
}

.lastName {
  color: $lighterThemeColor;
}

.firstName {
  color: #999;
}

.title {
  @include fluidCSSVar(font-size, 5px, 23px);
}

.barberPole {
  @include fluidCSSVar(width, 16px, 16px);
  @include fluidCSSVar(height, 16px, 16px);
  @include fluidCSSVar(margin-left, 10px, 12px);
  @include fluidCSSVar(margin-right, 10px, 12px);
  > * {
    animation-play-state: paused;
  }

  :global(.isSlingerIdle) & {
    > * {
      animation-play-state: running !important;
    }
  }
}
