@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "@/styles/graphitePages" as graphite;
@use "@/styles/globals" as *;

.contactPage {
  @include graphite.graphitePageScope();
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  padding: 16px;

  > div {
    width: 500px;
    max-width: 100%;
    position: relative;
  }

  h1 {
    color: white;
  }
}

.statusMessage {
  color: #51cf66;
}

.errorMessage {
  color: #cc0000;
}
