// TODO: This need split out for detail view and infos.

@use "@/styles/global";

/**
 * @fileOverview 
 * @author Bradley Baysinger
 */

.project_shot {
  @extend .device-shot_extend;
  left: global.$negative-device-halfWidthPx;

  .full_project_desktop_shot {
    @extend .device-shot_extend;
    transition:
      transform 0.3s ease-out,
      top 0.3s ease-out,
      opacity 0.3s;
    background-image: url("../assets/images/project-carousel/desktop-device.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .full_project_mobile_shot {
    @extend .device-shot_extend;
    transition:
      transform 0.4s ease-out,
      top 0.4s ease-out,
      opacity 0.4s;

    &.landscape {
      background-image: url("../assets/images/project-carousel/mobile-device-landscape.png");
      background-size: contain;

      .full_project_mobile_cap {
        top: 227px;
        left: 294px;
        width: 354px;
      }
    }

    &.portrait {
      background-image: url("../assets/images/project-carousel/mobile-device-portrait.png");
      background-size: contain;

      .full_project_mobile_cap {
        top: 69px;
        left: 484px;
        width: 162px;
      }
    }
  }

  .full_project_desktop_cap {
    position: absolute;
    top: 38px;
    left: 95px;
    width: 500px;
  }

  .full_project_mobile_cap {
    position: absolute;
  }
}
