@use "@/styles/global";

/**
 * @fileOverview 
 * @author Bradley Baysinger
 */

#project-info-and-features {
  position: absolute;
  left: 0px;
  text-align: left;
  display: inline-block;
  overflow: visible;
  // will-change: opacity, transform; // Didn't help?

  > * {
    position: relative;
  }

  .btn {
    margin-right: 20px;
  }

  .btn-group {
    flex-direction: row;
    .btn {
      margin-right: 0;
    }
  }

  .btn-group-label {
    cursor: default;
  }

  .btn-group-label,
  .btn {
    background-color: #333333;
    color: #ffffff;
  }

  .desc-paragraphs {
    p {
      margin-bottom: 10px;
    }
  }
}

////////////////////////////////
// Transitions
////////////////////////////////

// TODO: Pass the transition states into ProjectInfoFeatures so we aren't looking to the parent for transition state.

.reset {
  pointer-events: none;
}

// #project-info-and-features > div.desc-paragraphs > div {
//   // This is required for the paragraphs to animate their transform (in Chrome).
//   display: block;
// }

#project-info-and-features {
  > div.desc-paragraphs > div,
  > .url-btns > * {
    transition-property: opacity, transform;
    transition-timing-function: ease, ease;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0.1s, 0.1s;
    position: relative;
  }
}

.reset #project-info-and-features {
  // NOTE: iOS Chrome does not load images in elements where opacity is zero.
  // Set it to minium allowed value instead of zero.
  > .desc-paragraphs > *,
  > .url-btns > * {
    opacity: 0.001;
    transform: translateY(20px);
  }
}

.trans_in #project-info-and-features {
  > .desc-paragraphs > *,
  > .url-btns > * {
    opacity: 1;
    transform: translateY(0);
  }
}

.trans_out #project-info-and-features {
  > .desc-paragraphs > *,
  > .url-btns > * {
    opacity: 0.001;
    transform: translateY(-5px);
  }
}

.init #project-info-and-features {
  > .desc-paragraphs > *,
  > .url-btns > * {
    opacity: 0.001;
    transition:
      top 0.3s ease-out,
      opacity 0.3s;
  }
}

////////////////////////////////
// End Transitions
////////////////////////////////
