@use "sass:math";

/* Test Border */
$t: red solid 1px;
.test {
  border: $t;
}

$ss: 360;
$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;

$sspx: $ss + "px";
$xspx: $xs + "px";
$smpx: $sm + "px";
$mdpx: $md + "px";
$lgpx: $lg + "px";

// For thin stokes and normal weight text.
$heavierThemeColor: #719614;
// For heavy strokes and as a fill. (For contrast/readability)
$lighterThemeColor: #8db528;
$orange: #ff5e00;
$yellowOrange: #ffb600;
$red: #ff0000;

/* Device Shots */
$device-width: 693;
$device-widthPx: $device-width + px;
$device-halfWidthPx: math.div($device-width, 2) + px;
$negative-device-halfWidthPx: - math.div($device-width, 2) + px;

.device-shot_extend {
  position: absolute;
  width: $device-widthPx;
  height: 512px;
}
