@use "@/styles/variables" as *;

.graphitePage {
  padding-top: $navBarHeight + 6px !important;
  overflow: hidden;
  background-color: black;
  background-image: url("/images/common/bg-grad.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  label {
    color: white;
  }

  button {
    height: 36px;
  }

  input,
  button,
  select,
  textarea {
    margin-left: -2px;
  }

  .sameRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    gap: 14px;
    margin-bottom: 10px;

    > label {
      display: inline-block;
      width: auto;
      width: 49%;
      margin-bottom: 0;

      > input {
        width: 100%;
      }
    }
  }
  :global(.hidden) {
    display: none !important;
  }
}

// TODO: Moved for Next.js on 7/24/25. Fix later
.bbStabilizedSlide {
  .bbDevicePresentation {
    filter: none;
  }
  .bbLaptop {
    transform: translateX(-50%) scale(1);
  }
  .bbPortrait.bbPhone {
    &::before {
      transform: rotate(0deg);
    }
    img {
      transform: rotate(0deg);
    }
  }
  .bbLandscape.bbPhone {
    &::before {
      transform: rotate(90deg);
    }
    img {
      transform: rotate(0deg);
    }
  }
}

