.graphite-page {
  height: 100dvh;
  background-color: black;
  background-image:
    url("/images/common/barber-pole-bottom.webp"), url("/images/common/bg-grad.svg");
  background-repeat: repeat-x, no-repeat;
  background-size:
    350px 40px,
    100% 100%;
  background-position:
    0 bottom,
    0 0;
}
