@use "@/styles/global" as *;

.standard-page {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
  
    @include breakpoint-up($b768px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  
    h4 {
      border-bottom: 2px solid $heavierThemeColor;
      padding-bottom: 20px;
      font-size: 40px;
      color: #777;
      font-weight: 400;
      margin-bottom: 6px;
      line-height: 1.1em;
      @include fluid-property(font-size, $b360px, $b1280px, 40px, 48px);
      &:first-child {
        padding-top: 0;
        margin-top: 0;
      }
    }
  
    h5 {
      position: relative;
      font-size: 28px;
      margin-bottom: 3px;
      color: black;
      white-space: normal;
    }
}