@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.footerGreet {
  font-size: 14px;

  a {
    color: #fff !important;
    text-decoration: underline !important;
    &:hover {
      color: #fff !important;
      text-decoration: none !important;
    }
  }
}

.footerPhoto {
  float: left;
  margin-right: 16px;
  margin-bottom: 10px;
  margin-top: 6px;
  width: 90px;
  border: 4px solid $lighterThemeColor;
}
