@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.footerGreet {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;

  @include breakpointUp($b480px) {
    grid-template-columns: 90px 1fr;
    column-gap: 16px;
    row-gap: 0;
    align-items: start;
  }

  a {
    color: #fff !important;
    text-decoration: underline !important;
    &:hover {
      color: #fff !important;
      text-decoration: none !important;
    }
  }
}

.photoColumn {
  justify-self: center;

  @include breakpointUp($b480px) {
    justify-self: start;
  }
}

.textColumn {
  min-width: 0;
}

.footerPhoto {
  display: block;
  width: 90px;
  height: auto;
  border: 4px solid $lighterThemeColor;
}
