@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

footer {
  position: relative;
  padding-top: 0;
  display: inline-block;
  width: 100%;
  background: linear-gradient(#000000, #242424);
  color: #ccc;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    top: -$footer-barber-pole-thickness;
    height: $footer-barber-pole-thickness;
    width: 100vw;
    background-image: url("/images/common/barber-pole-bottom.webp");
    background-repeat: repeat-x;
    background-size: 350px 40px;
    background-position: 0 bottom;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a,
  a:visited {
    color: #888888;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: #ffffff;
    text-decoration: underline;
  }

  .copyright {
    text-align: center;
    bottom: 50px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  footer:first-child {
    padding-top: 20px;
    margin-top: 0;
    position: relative;
  }

  .footer-link:hover {
    color: #777;
  }

  .react {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;

    img {
      margin-right: 10px;
      width: 30px;
    }
  }

  ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    font-size: 15px;
  }

  li {
    white-space: nowrap;
  }

  .footer-nav {
    list-style: none;
    font-size: 15px;
    text-align: center;

    @include breakpoint-up($b768px) {
      text-align: left;
    }

    ul {
      display: inline-block;
    }

    li {
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: #888888;
    }

    a.active,
    a:active {
      color: #ffffff;
    }

    a:hover {
      text-decoration: underline;
      color: #ffffff;
    }
  }

  .footer-cell {
    padding-top: 60px;

    p {
      line-height: 19px;
    }
  }

  /* Contact List */

  .contact {
    text-align: center;

    > div {
      display: inline-block;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
    }

    li {
      padding-bottom: 5px;
    }

    img {
      margin-right: 5px;
    }

    li div {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-right: 10px;
      height: 27px;
      width: 25px;
      overflow: hidden;
      margin-bottom: 5px;
      padding-top: 3px;
      display: inline-block;
      vertical-align: middle;
    }

    .not-a-suburb {
      // For recruiters who tend to think Spokane is a suburb of Seattle, 😂.
      font-size: 11px;
    }
  }
}
