@use "@/styles/mixins" as *;

$boltInsetMin: 6px;
$boltInsetMax: 12px;

.frameClip {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  // Firefox can render `border-image` + `clip-path: inset(... round calc(...))` unreliably,
  // resulting in broken corners/borders. A simple radius + overflow clip is more consistent.
  border-radius: calc(var(--headerSubRadius) - 3px);
  overflow: hidden;
}

.nutsOverlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.frameLayerHolder {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.frameLayerMasked {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  box-sizing: border-box;
  border-style: solid;
  background-color: #f66213;
  @include lerpRange(mask-size, 70%, 100%);
  border-width: var(--headerSubRadius);
  border-image: url("/images/common/embossed-sign-orange.webp") 90 90 90 90
    stretch;
}

.frameLayerFront {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 20;
  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: none;
    @include lerpRange(width, 30px, 52px);
    @include lerpRange(height, 30px, 52px);
    background-image: url("/images/common/nut.webp");
    background-size: contain;
    z-index: 20;
  }
  &::before {
    @include lerpRange(left, $boltInsetMin + 5px, $boltInsetMax);
  }
  &::after {
    @include lerpRange(right, $boltInsetMin + 2px, $boltInsetMax);
  }
  .frameLayerHolder:first-of-type & {
    &::before,
    &::after {
      display: block;
      @include lerpRange(top, $boltInsetMin, $boltInsetMax);
    }
  }
  .frameLayerHolder:last-of-type & {
    &::before,
    &::after {
      display: block;
      @include lerpRange(bottom, $boltInsetMin, $boltInsetMax);
    }
  }
}

.frameLayerHolder:nth-of-type(2) .frameLayerMasked,
.frameLayerHolder:nth-of-type(3) .frameLayerMasked {
  @include lerpRange(--headerSubStripeTile, 150px, 400px);
  background-color: #111;
  mask-image: url(/images/common/stripe-mask.svg);
  -webkit-mask-image: url(/images/common/stripe-mask.svg);
  mask-repeat: repeat;
  -webkit-mask-repeat: repeat;
  mask-size: var(--headerSubStripeTile) var(--headerSubStripeTile);
  -webkit-mask-size: var(--headerSubStripeTile) var(--headerSubStripeTile);
  mask-position: 0 50%;
  -webkit-mask-position: 0 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: headerSubStripeDrift;
  @include lerpRange(animation-duration, 20s, 50s);
  border-image-source: url("/images/common/embossed-sign-black.webp");
}

@keyframes headerSubStripeDrift {
  from {
    mask-position: 0 50%;
    -webkit-mask-position: 0 50%;
  }
  to {
    mask-position: calc(-1 * var(--headerSubStripeTile)) 50%;
    -webkit-mask-position: calc(-1 * var(--headerSubStripeTile)) 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .frameLayerHolder:nth-of-type(2) .frameLayerMasked,
  .frameLayerHolder:nth-of-type(3) .frameLayerMasked {
    animation: none;
  }
}

// Crop black layers
// 2nd layer: show top 15%
.frameLayerHolder:nth-of-type(2) .frameLayerMasked {
  clip-path: inset(0 0 calc(100% - var(--headerSubBlackCropOffset)) 0);
}

// 3rd layer: show bottom 20%
.frameLayerHolder:nth-of-type(3) .frameLayerMasked {
  clip-path: inset(calc(100% - var(--headerSubBlackCropOffset)) 0 0 0);
}

.frameLayerHolderOrange .frameLayerMasked {
  clip-path: inset(0.5px round calc((var(--headerSubRadius) - 3px) - 0.5px));
}

.textWrapper {
  position: relative;
  z-index: 1;
  text-align: center;
  @include lerpRange(padding, 6px, 10px);
  @include lerpRange(padding-bottom, 2px, 6px);
}
