@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.headerSub {
  position: relative;
  overflow: visible;
  isolation: isolate;
  color: #222;
  @include lerpRange(--headerSubRadius, 32px, 50px);
  @include lerpRange(--headerSubBlackCropOffset, 15px, 30px);
  @include lerpRange(padding, 20px, 36px);
  @include lerpRange(padding-left, 16px, 29px);
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  @include lerpRange(margin-top, $navBarHeight + 20px, 40px);
  @include lerpRange(margin-bottom, 20px, 30px);
  @include lerpRange(width, 96%, 70%, $b640, $b1792);
  transform: rotate(-1deg);

  .frameClip {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    clip-path: inset(0 round calc(var(--headerSubRadius) - 3px));
  }

  .frameLayer {
    position: absolute;

    &.frameLayerOrange {
      clip-path: inset(
        0.5px round calc((var(--headerSubRadius) - 3px) - 0.5px)
      );
    }
    inset: 0;
    pointer-events: none;
    box-sizing: border-box;
    border-style: solid;
    background-color: #f66213;
    @include lerpRange(mask-size, 70%, 100%);
    border-width: var(--headerSubRadius);
    border-image: url("/images/common/embossed-sign-orange.webp") 90 90 90 90
      stretch;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      mask-image: url(/images/common/barber-pole.webp);
      @include lerpRange(mask-size, 70%, 75%);
      mask-position: center top;
      border-image-source: url("/images/common/embossed-sign-black.webp");
    }

    // Crop black layers
    // 2nd layer: show top 15%
    &:nth-of-type(2) {
      clip-path: inset(0 0 calc(100% - var(--headerSubBlackCropOffset)) 0);
    }

    // 3rd layer: show bottom 20%
    &:nth-of-type(3) {
      clip-path: inset(calc(100% - var(--headerSubBlackCropOffset)) 0 0 0);
    }
  }

  .textWrapper {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    text-transform: italic;
    text-transform: uppercase;

    @include remRange(font-size, 40px, 70px);
  }

  h5,
  .h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;

    @include breakpointUp($b360px) {
      font-size: 16px;
    }

    @include breakpointUp($b480px) {
      font-size: 20px;
    }

    @include breakpointUp($b992px) {
      font-size: 30px;
    }
  }
}

.project {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  opacity: 0;
}
