@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.headerSub {
  position: relative;
  overflow: visible;
  isolation: isolate;
  padding: 26px;
  padding-left: 29px;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  @include staticRange(margin-top, 50px, 100px);
  @include staticRange(margin-bottom, 7px, 20px);
  @include staticRange(height, 150px, 200px);
  @include staticRange(width, 100%, 70%, $b640, $b1792);
  transform: rotate(-1deg);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    box-sizing: border-box;
    border-style: solid;
    background-color: #f66213;
    border-top-width: 40px;
    border-right-width: 47px;
    border-bottom-width: 60px;
    border-left-width: 54px;
    border-image: url("/images/common/embossed-sign-orange.webp") 90 104 136 116
      stretch;
    border-radius: 40px;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    text-transform: italic;
    text-transform: uppercase;

    @include remRange(font-size, 50px, 70px);
  }

  h5,
  .h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;

    @include breakpointUp($b360px) {
      font-size: 16px;
    }

    @include breakpointUp($b480px) {
      font-size: 20px;
    }

    @include breakpointUp($b992px) {
      font-size: 30px;
    }
  }
}

.project {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  opacity: 0;
}
