@use "@/styles/global" as *;

header {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 37vw;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  background-color: #222;

  background-image: url("/images/misc/bg_grad.svg");
  background-position: center;
  background-size: 100% 100%;

  #project {
    position: absolute;
    bottom: 0;
    opacity: 0;
  }

  #top {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &.header_sub {
    padding-top: 50px;
  }

  &.header_main {
    .header-logo {
      opacity: 1;
      height: 60vh;
      max-height: 380px;
      position: relative;
      top: -11px;
      margin-bottom: -30px;
    }

    .view_portfolio {
      img {
        position: relative;
        top: 10px;
      }
      a {
        text-decoration: none;
      }
    }

    .lastName {
      color: $lighterThemeColor;
    }

    .firstName {
      color: #999;
    }
  }

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-bottom: 0px;
    color: #fff;
  }

  > * {
    text-align: center;
  }

  h1 {
    color: #fff;
    font-weight: 400; // Only a factor before fonts load.
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 55px;

    @media (max-width: $b480px) {
      font-size: 40px;
      line-height: 42px;
    }
  }

  @include breakpoint-up($b768px) {
    br.responsive_br {
      display: none;
    }
    .bull {
      display: none;
    }
  }

  @include breakpoint-up($b992px) {
    h1 {
      font-size: 50px;
    }
  }

  /* There's sometimes a one-pixel gap that appears over the navbar in iOS Safari that appears to be a
  defect in the rendering engine. I see it in other sites sometimes. This fills the gap to keep things pretty. */
  .overheadFill {
    height: 100vh;
    top: -100vh;
    width: 100%;
    position: absolute;
    background-color: #000;
  }

  .bull {
    font-size: 60%;
  }

  .view_portfolio {
    $bottom: 30px;

    position: absolute;
    bottom: $bottom;
    left: 50%;
    text-align: center;
    width: 200px;
    margin-left: -100px;
    cursor: pointer;

    animation: fade 2s forwards;
    animation-iteration-count: infinite;

    @keyframes fade {
      0% {
        opacity: 0.5;
        bottom: $bottom;
      }
      50% {
        opacity: 1;
        bottom: $bottom - 10px;
      }
      100% {
        opacity: 0.5;
        bottom: $bottom;
      }
    }
  }
}
