@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.headerSub {
  position: relative;
  overflow: visible;
  isolation: isolate;
  color: #222;
  @include lerpRange(--headerSubRadius, 32px, 50px);
  @include lerpRange(--headerSubBlackCropOffset, 15px, 30px);
  @include lerpRange(padding, 20px, 36px);
  @include lerpRange(padding-left, 16px, 29px);
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  @include lerpRange(margin-top, $navBarHeight + 20px, 40px);
  @include lerpRange(margin-bottom, 20px, 30px);
  @include lerpRange(width, 96%, 70%, $b640, $b1792);
  transform: rotate(-1deg);

  h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    text-transform: italic;
    text-transform: uppercase;

    @include remRange(font-size, 40px, 70px);
  }

  h5,
  .h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;

    @include breakpointUp($b360px) {
      font-size: 16px;
    }

    @include breakpointUp($b480px) {
      font-size: 20px;
    }

    @include breakpointUp($b992px) {
      font-size: 30px;
    }
  }
}

.project {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  opacity: 0;
}
