@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.headerSub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  height: 25vw;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  min-width: 100%;
  padding-top: 50px;
  background-position: center;
  background-color: #333;
  background-repeat: repeat !important;
  background-image: url("/images/common/barber-pole.webp");
  background-size: 500px;

  @include breakpointUp($b480px) {
    background-size: 500px;
  }
  @include breakpointUp($b992px) {
    background-size: 50%;
  }

  > * {
    text-align: center;
  }

  h1 {
    font-weight: 400; // Only a factor before fonts load.
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;

    @include remRange(font-size, 36px, 70px);
  }

  h5,
  .h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;

    @include breakpointUp($b360px) {
      font-size: 16px;
    }

    @include breakpointUp($b480px) {
      font-size: 20px;
    }

    @include breakpointUp($b992px) {
      font-size: 30px;
    }
  }
}

.textWrapper {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @include breakpointUp($b992px) {
    padding: 30px;
  }
}

.project {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  opacity: 0;
}
