@use "@/styles/global" as *;
@use "@/components/layout/HeaderShared.module.scss" as headerShared;

header {
  height: 37vw;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  background-color: #222;

  background-image: url("/images/misc/bg-grad.svg");
  background-position: center;
  background-size: 100% 100%;

  h1 {
    color: #fff;
    font-weight: 400; // Only a factor before fonts load.
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 1em;

    @include breakpoint-up($b360px) {
      font-size: 36px;
    }

    @include breakpoint-up($b480px) {
      font-size: 46px;
    }

    @include breakpoint-up($b992px) {
      font-size: 60px;
    }
  }

  .project {
    position: absolute;
    bottom: 0;
    opacity: 0;
  }

  .top {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &.header-sub {
    padding-top: 50px;
  }

  h5,
  .h5 {
    margin-bottom: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;

    @include breakpoint-up($b360px) {
      font-size: 16px;
    }

    @include breakpoint-up($b480px) {
      font-size: 20px;
    }

    @include breakpoint-up($b992px) {
      font-size: 30px;
    }
  }
}
