@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

header.headerSub {
  position: relative;
  overflow: visible;
  isolation: isolate;
  color: #222;
  @include staticRange(padding, 14px, 26px);
  @include staticRange(padding-left, 16px, 29px);
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  @include staticRange(margin-top, $navBarHeight + 20px, 40px);
  @include staticRange(margin-bottom, 20px, 30px);
  @include staticRange(width, 96%, 70%, $b640, $b1792);
  transform: rotate(-1deg);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    box-sizing: border-box;
    border-style: solid;
    background-color: #f66213;
    @include staticRange(border-top-width, 40px, 60px);
    @include staticRange(border-right-width, 40px, 60px);
    @include staticRange(border-bottom-width, 40px, 60px);
    @include staticRange(border-left-width, 40px, 60px);
    border-image: url("/images/common/embossed-sign-orange.webp") 90 90 90 90
      stretch;
    border-radius: 40px;
    @include staticRange(border-radius, 40px, 60px);
  }

  > * {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    text-transform: italic;
    text-transform: uppercase;

    @include remRange(font-size, 50px, 70px);
  }

  h5,
  .h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;

    @include breakpointUp($b360px) {
      font-size: 16px;
    }

    @include breakpointUp($b480px) {
      font-size: 20px;
    }

    @include breakpointUp($b992px) {
      font-size: 30px;
    }
  }
}

.project {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.top {
  position: absolute;
  top: 0;
  opacity: 0;
}
