@use "@/styles/mixins" as *;

.frameClip {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  clip-path: inset(0 round calc(var(--headerSubRadius) - 3px));
}

.frameLayerHolder {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.frameLayerMasked {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-sizing: border-box;
  border-style: solid;
  background-color: #f66213;
  @include lerpRange(mask-size, 70%, 100%);
  border-width: var(--headerSubRadius);
  border-image: url("/images/common/embossed-sign-orange.webp") 90 90 90 90
    stretch;
}

.frameLayerFront {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.frameLayerHolder:nth-of-type(2) .frameLayerMasked,
.frameLayerHolder:nth-of-type(3) .frameLayerMasked {
  mask-image: url(/images/common/barber-pole.webp);
  @include lerpRange(mask-size, 70%, 75%);
  mask-position: center top;
  border-image-source: url("/images/common/embossed-sign-black.webp");
}

// Crop black layers
// 2nd layer: show top 15%
.frameLayerHolder:nth-of-type(2) .frameLayerMasked {
  clip-path: inset(0 0 calc(100% - var(--headerSubBlackCropOffset)) 0);
}

// 3rd layer: show bottom 20%
.frameLayerHolder:nth-of-type(3) .frameLayerMasked {
  clip-path: inset(calc(100% - var(--headerSubBlackCropOffset)) 0 0 0);
}

.frameLayerHolderOrange .frameLayerMasked {
  clip-path: inset(0.5px round calc((var(--headerSubRadius) - 3px) - 0.5px));
}

.textWrapper {
  position: relative;
  z-index: 1;
}
