@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.navLinks {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0 !important;

  li {
    font-size: 20px;
    a,
    button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #888;
      text-decoration: none;
      font-size: inherit !important;
      font: inherit;
      line-height: 1; // normalize baseline across controls
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      &.active,
      &.active:visited {
        color: #fff;
      }
    }

    &:hover {
      a,
      button {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
