@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$navHamburgerBreakpoint: 992px;

.navVariant {
  --nav-hamburger-breakpoint: #{$navHamburgerBreakpoint};
  display: flex;
  color: #888;
  padding: 0;
  user-select: none;
  width: 100%;
  transition: width 0.5s ease;
  background: linear-gradient(to left, #222, #222 50%, rgba(0, 0, 0, 1) 100%);
  background-size: 100% $navBarHeight;
  background-repeat: no-repeat;
  :global(.isHeroInView5Pct) & {
    width: 50px;
  }
  @include breakpointUp($navHamburgerBreakpoint) {
    :global(.isHeroInView5Pct) & {
      width: var(--nav-links-compact-width);
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-right: 0;
    margin-left: auto;
  }

  li {
    a {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #888;
      text-decoration: none;
      font-size: 20px;
      height: 100%;
      width: 100%;
      &.active,
      &.active:visited {
        color: #fff;
      }
    }

    &:hover {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  ////////////////////////////////////////////////////
  /// Top-bar variant
  ////////////////////////////////////////////////////

  &.topBar {
    position: fixed;
    right: 0;
    left: auto;
    margin-left: auto;

    z-index: 10000;
    height: $navBarHeight;
    overflow: hidden;
    pointer-events: none;
    > * {
      pointer-events: all;
    }

    .title {
      display: flex;
      text-decoration: none;
      position: absolute;
      left: auto;
      width: 100vw;
      z-index: 0;
      height: $navBarHeight;

      > * {
        margin-left: 4px;
        @include breakpointUp($b360px) {
          margin-left: 8px;
        }
      }
      > *:first-child {
        margin-left: 6px;

        @include breakpointUp($b360px) {
          margin-left: 10px;
        }
      }
    }

    .navLinks {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      padding-left: 20px;
      padding-right: 20px;
      left: auto;
      margin-right: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      height: $navBarHeight;
      background-color: #222;
      visibility: hidden;
      @include breakpointUp($navHamburgerBreakpoint) {
        visibility: visible;
      }
    }

    .hamburger {
      background: #222;
      margin-left: auto;
    }

    .navLogoText {
      display: flex;
      flex-direction: column;

      > div {
        font-size: 24px;
        margin-block-start: 0;
        margin-bottom: -2px;

        &:first-of-type {
          margin-top: -3px;
          margin-bottom: -7px;

          span:first-of-type {
            color: #999;
          }
          span:last-of-type {
            color: $lighterThemeColor;
          }
        }

        &:nth-child(2) {
          font-size: 13.9px;
          color: #fff;
          margin-top: -3px;
        }
      }
    }

    .name > span:first-of-type {
      margin-right: -2px;
    }

    .jobTitle {
      letter-spacing: 2.57px;
      margin-left: 1px;
      font-size: 16px;
      color: #fff;
    }

    .bull {
      color: $lighterThemeColor;
      font-size: 18px;
      position: relative;
      top: 2px;
      line-height: 0;
    }

    ul {
      flex-direction: row;
      font-size: 12px;
      position: relative;
      margin-right: 10px;
      height: $navBarHeight;
      margin: 0;
      display: none;
      @include breakpointUp($navHamburgerBreakpoint) {
        display: flex;
      }
    }

    li {
      display: flex;
      list-style-type: none;
      margin-right: 20px;
      align-items: center;
      &:last-of-type {
        margin-right: 0 !important;
      }
    }

    img.navLogo {
      position: relative;
      top: 50%;
      max-height: 38px;
      transform: translateY(-50%);
      height: auto;
      width: auto;
    }

    .shadowLayer0,
    .shadowLayer1,
    .shadowLayer2 {
      display: none;
    }
  }

  ul {
    z-index: 1;
  }

  ////////////////////////////////////////////////////
  /// Slide-out variant
  ////////////////////////////////////////////////////

  &.slideOut {
    position: fixed;
    width: $navExpandWidth;
    max-width: $maxNavExpandWidth;
    right: 0;
    // Use dvh sparingly because it causes some janky layout shifts on some mobile browsers.
    // But here it's necessary and intentional to cover the full viewport height,
    // and doesn't shift layout.
    height: 100dvh;
    z-index: 0;

    & > div {
      width: 100%;
    }

    ul {
      flex-direction: column;
      width: 100%;
      position: relative;
      width: 100%;
      transform: translateY(-50%);
      top: 40%;
      @media screen and (orientation: landscape) and (max-height: 500px) {
        top: calc(50% + 18px);
      }
    }

    li {
      display: flex;
      height: 45px;
      background: linear-gradient(rgba(30, 30, 30, 1), rgba(10, 10, 10, 1));
      padding-top: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
      padding-left: 40px;
    }

    .title,
    .navbarToggle {
      display: none;
    }

    &.disabled {
      pointer-events: none;
    }
  }

  .shadowLayer0 {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("/images/nav/paisley.webp");
    background-size: auto 50%;
    background-position: right top;
  }

  .shadowLayer1 {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    mask-size: auto 100%;
    mask-repeat: no-repeat;
    mask-position: right top;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .shadowLayer2 {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    background:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 91%,
        rgba(0, 0, 0, 1) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(50, 50, 50, 0) 10%,
        rgba(50, 50, 50, 0) 90%,
        rgba(0, 0, 0, 1) 100%
      );
  }

  ////////////////////////////////////////////////////
  /// Debug
  ////////////////////////////////////////////////////

  .debug {
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 1000;
  }
}
