@use "@/styles/global" as *;

.greeting {
  position: relative;
  background: black;
  color: #fff;
  z-index: 10;
  overflow: hidden;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;

  @include breakpoint-up($b480px) {
    font-size: 18px;
  }

  @include breakpoint-up($b768px) {
    font-size: 20px;
  }

  &:before {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100%;
    width: 200vw;
    background-color: #111;
    left: 0;
    top: 0;
    background-image: url("/images/common/stripes.webp");
    animation: scrollStripes linear infinite;
    animation-duration: 125s;
    z-index: -1;
  }

  @keyframes scrollStripes {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  &:after {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0) 66%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.road-sign-mobile {
    width: 70%;
    margin-top: 50px;
    @include breakpoint-up($b768px) {
      display: none;
    }
  }

  img.road-sign-desktop {
    display: none;
    width: 100%;
    top: 50%;
    max-width: 300px;
    @include breakpoint-up($b768px) {
      display: unset;
    }
  }

  .text {
    position: relative;
    padding-bottom: 130px;
    z-index: 1;
    padding-top: 80px;
    @include breakpoint-up($b768px) {
      padding-left: 30px;
      padding-top: 140px;
    }

    &:before,
    &:after {
      content: '"';
      display: block;
      position: absolute;
      font-size: 200px;
      color: $lighterThemeColor;
      @include breakpoint-up($b768px) {
        font-size: 300px;
      }
    }

    &:before {
      content: '"';
      display: block;
      position: absolute;
      top: -50px;
      left: 10px;
      z-index: -1;
      @include breakpoint-up($b992px) {
        top: -50px;
      }
    }

    &:after {
      content: '"';
      line-height: 0;
      right: 0;
      bottom: 50px;
      transform: scaleX(-1);
      @include breakpoint-up($b992px) {
        bottom: 0;
      }
    }
  }
}
