@use "@/styles/global" as *;

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: black;
  color: #fff;
  z-index: 10;
  overflow: hidden;
  font-size: 15px;
  min-height: 100vh;
  line-height: 1.5em;
  padding-top: 0px;
  padding-bottom: 0px;

  @include breakpoint-up($b480px) {
    font-size: 16px;
  }

  @include breakpoint-up($b992px) {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 400vw;
    left: 0;
    top: 0;
    background-color: #111;
    background-image: url("/images/common/stripes.webp");
    background-size: 12.5% auto;
    background-position: center center;
    animation: scrollStripes linear infinite;
    animation-duration: 10s;
    z-index: -1;

    @include breakpoint-up($b768px) {
      width: 200vw;
    }
  }

  @keyframes scrollStripes {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0);
    }
  }

  .greeting-wrapper {
    height: 100%;
  }

  &:after {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0) 66%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.road-sign-mobile {
    width: 60%;
    @include breakpoint-up($b768px) {
      display: none;
    }
  }

  img.road-sign-desktop {
    display: none;
    width: 100%;
    top: 50%;
    max-width: 300px;
    @include breakpoint-up($b768px) {
      display: unset;
    }
  }

  .text {
    position: relative;
    text-align: center;
    @include breakpoint-up($b768px) {
      padding-right: 30px;
    }
    p {
      text-align: left;
      margin: 20px 0;
      z-index: 1;
      padding: 10px;
      box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
      // margin-top: 40px;
      background: linear-gradient(
        to right,
        rgba(50, 50, 50, 1),
        rgba(20, 20, 20, 1)
      );

      @include breakpoint-up($b768px) {
        margin-bottom: 40;
        margin: 50px 0;
        padding: 20px;
      }

      &:first-child {
        border-right: none;
        background: linear-gradient(
          to left,
          rgba(50, 50, 50, 1),
          rgba(20, 20, 20, 1)
        );
      }
    }

    a {
      position: relative;
      display: inline-block;
      border: none;
      background-color: #f1fd02;
      padding: 8px 28px;
      font-size: 30px;
      font-weight: 700;
      box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
      margin-left: auto;
      margin-right: auto;
      height: 46px;
      color: black;
      text-decoration: none;
      line-height: 1em;
      margin-bottom: 50px;

      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 76px;
        background-image: url("/images/home/button-bolt.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -60px;
      }

      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 76px;
        background-image: url("/images/home/button-bolt.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: -60px;
        transform: scale(-1, 1);
      }
    }
  }
}
