@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: black;
  color: #fff;
  z-index: 10;
  overflow: hidden;
  font-size: 15px;
  min-height: 100vh;
  line-height: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;

  @include breakpointUp($b480px) {
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @include breakpointUp($b992px) {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    background-color: #111;
    background-image: url("/images/common/stripes-orange-short.webp");
    aspect-ratio: 2 / 1; // Maintains aspect ratio
    background-size: auto 100%; // Maintains aspect ratio
    background-repeat: repeat-x;
    background-position: 0 0;
    z-index: -1;
    animation: scrollBg 20s linear infinite;
    :global(.isHeroInView100Pct) & {
      animation-play-state: paused;
    }
  }

  @keyframes scrollBg {
    from {
      background-position-x: -100%;
    }
    to {
      background-position-x: 0%;
    }
  }

  .greetingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    @include breakpointUp($b480px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include breakpointUp($b768px) {
      flex-direction: row;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &:after {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .helloSignWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 80%;
    user-select: none;
    @include breakpointUp($b768px) {
      min-width: 300px;
      max-width: auto;
      width: auto;
    }
    &:hover {
      z-index: 2;
    }
  }

  .helloSign {
    width: 100%;
    top: 50%;
    max-width: 350px;
    aspect-ratio: 1 / 1;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/images/hello/road-sign.webp");
    transform-origin: 50% 300%;

    @include breakpointUp($b768px) {
      transform-origin: 50% 150%;
      aspect-ratio: 1 / 2.038;
      background-image:
        url("/images/hello/road-sign.webp"), url("/images/hello/signpost.webp");
    }

    @include breakpointUp($b1280px) {
      max-width: 350px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 39%;
    }

    img {
      width: 68%;
      height: auto;
      margin-left: 4%;
    }
  }

  .text {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    @include breakpointUp($b768px) {
      margin-right: -20px;
      padding-top: 30px;
    }
    > div {
      position: relative;
      text-align: left;
      padding: 0;
      z-index: 1;
      border-style: solid;
      border-color: transparent;
      border-top-width: 40px;
      border-right-width: 47px;
      border-bottom-width: 60px;
      border-left-width: 54px;
      border-image: url("/images/hello/highway-sign.webp") 90 104 136 116 stretch;
      line-height: 1.3em;
      max-width: 600px;
      margin: 20px 0;
      margin-left: -7px;
      margin-bottom: -35px;
      @include breakpointUp($b992px) {
        max-width: 800px;
        margin-left: 10px;
        margin-bottom: -20px;
        font-size: 20px;
      }
      @include breakpointUp($b1280px) {
        font-size: 24px;
        margin-bottom: -23px;
        margin-left: 20px;
        margin-right: -29px;
      }
      &:first-of-type {
        &:before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background-image: url("/images/hello/barricade-flasher.webp");
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: -72px;
          left: -8px;
        }
        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background-image: url("/images/hello/barricade-flasher.webp");
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: -72px;
          right: -6px;
        }
        p {
          &:before,
          &:after {
            content: "";
            display: block;
            width: 500px;
            height: 500px;
            background-image: url("/images/hello/flash.webp");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: -302px;
            pointer-events: none;
          }
          &:before {
            left: -233px;
            animation: strobe 1s infinite steps(1);
            :global(.isHeroInView100Pct) & {
              animation-play-state: paused;
            }
          }
          &:after {
            right: -231px;
            animation: strobe 1s infinite steps(1) 0.12s;
            :global(.isHeroInView100Pct) & {
              animation-play-state: paused;
            }
            z-index: 1;
          }

          @keyframes strobe {
            0% {
              opacity: 1;
            }
            7% {
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }

      p {
        background-color: #e7eaec;
        margin: 0;
      }
    }

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      aspect-ratio: 3 / 1;
      border: none;
      font-size: 25px;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      color: black;
      text-decoration: none;
      line-height: 1em;
      margin-bottom: 0px;
      width: 100%;
      max-width: 500px;
      background-image: url("/images/hello/wide-arrow.webp");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @include breakpointUp($b360px) {
        font-size: 27px;
      }
      @include breakpointUp($b480px) {
        font-size: 30px;
      }
      > * {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
      }
    }
  }
}
