@use "@/styles/global" as *;

.greeting {
  position: relative;
  background: black;
  color: #999;
  font-size: 18px;
  z-index: 10;
  overflow: hidden;

  @include breakpoint-up($b480px) {
    font-size: 20px;
  }

  @include breakpoint-up($b768px) {
    font-size: 24px;
  }

  &:before {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100vh;
    width: 400vw;
    background-color: #111;
    left: 0;
    top: 0;
    background-image: url("/images/common/stripes.webp");
    animation: scrollStripes linear infinite;
    animation-duration: 150s;
    z-index: -1;
  }

  &:after {
    position: absolute;
    background-size: auto 200%;
    background-position: center center;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0) 66%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  @keyframes scrollStripes {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .greeting-wrapper {
    position: relative;
    padding-top: 200px;
    padding-bottom: 150px;
    z-index: 0;

    &:before,
    &:after {
      content: '"';
      display: block;
      position: absolute;
      font-size: 400px;
      color: $lighterThemeColor;
    }

    &:before {
      content: '"';
      display: block;
      position: absolute;
      top: -80px;
      left: 25px;
    }

    &:after {
      content: '"';
      line-height: 0;
      bottom: -10px;
      right: 25px;
      transform: scaleX(-1);
    }
  }
}
