@use "@/styles/global" as *;
@use "@/components/layout/HeaderShared.module.scss" as headerShared;

.header-main {
  min-height: 100dvh;
  * {
    text-align: center;
  }
}

.header-logo {
  opacity: 1;
  max-height: 45dvh;
  position: relative;
  top: -11px;
  margin-bottom: -30px;
}

.view-portfolio {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  will-change: bottom, opacity;
  text-decoration: none;

  &::after {
    content: " ";
    position: absolute;
    border-top: 7px solid #fff;
    border-left: 7px solid #fff;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 55px;
    transform-origin: 0 0;
    transform: rotate(-135deg);
    z-index: 2;
    animation: fadeBounce 2s infinite forwards;
  }

  > * {
    animation: fadeBounce 2s infinite forwards;
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0.25;
    bottom: 50px;
  }
  50% {
    opacity: 1;
    bottom: 40px;
  }
  100% {
    opacity: 0.25;
    bottom: 50px;
  }
}

// @include breakpoint-up($b768px) {
//   .bull {
//     display: none;
//   }
// }

.last-name {
  color: $lighterThemeColor;
}

.first-name {
  color: #999;
}
