@use "@/styles/global" as *;
@use "@/components/layout/HeaderShared.module.scss" as headerShared;

.header-main {
  min-height: 100dvh;
  padding-left: 20px;
  padding-right: 20px;
  transition: height 0.5s;

  * {
    text-align: center;
  }

  h1 {
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 0.5em;
    @include breakpoint-up($b480px) {
      font-size: 48px;
    }
  }

  &.scrolled {
    min-height: 100vh;
  }
}

.subhead {
  font-size: 22px;
  line-height: 1.4em;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
  overflow: hidden;
  position: relative;
  line-height: 0.9em;

  &.subhead-desktop {
    display: none;
  }

  @include breakpoint-up(500px) {
    &.subhead-mobile {
      display: none;
    }
    &.subhead-desktop {
      display: block;
    }
  }
}

.bull {
  position: relative;
  color: $lighterThemeColor;
  font-size: 1.2em;
  position: relative;
  top: 1px;
  @include breakpoint-up(500px) {
    top: 2px;
  }
}

.header-logo {
  opacity: 1;
  max-height: 45dvh;
  position: relative;
  top: -11px;
  margin-bottom: -30px;
}

.view-portfolio {
  $bottom: 50px;
  font-size: 16px;
  position: absolute;
  color: #fff;
  bottom: $bottom;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  will-change: bottom, opacity;
  text-decoration: none;
  animation: fadeBounce 2s infinite forwards;

  &::after {
    content: "";
    position: absolute;
    border-top: 7px solid #fff;
    border-left: 7px solid #fff;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 60px;
    transform-origin: 0 0;
    transform: rotate(-135deg);
  }

  @keyframes fadeBounce {
    0% {
      opacity: 0.25;
      bottom: $bottom;
    }
    50% {
      opacity: 1;
      bottom: calc($bottom + 10px);
    }
    100% {
      opacity: 0.25;
      bottom: $bottom;
    }
  }
}

.scrolled {
  .view-portfolio {
    animation: none;
  }
}

.last-name {
  color: $lighterThemeColor;
}

.first-name {
  color: #999;
}
