.magneticThingy {
  z-index: 100;
  transform-origin: center center;
  animation: waveMotion 5s ease-in-out infinite;
  :global(.isHeroInView) & {
    animation-play-state: paused;
  }

  &.hasInteracted {
    animation: none !important;
  }

  div {
    position: absolute;
    top: 0;
    pointer-events: none;
  }
}

@keyframes waveMotion {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-5deg);
  }

  78% {
    transform: rotate(7deg);
  }

  85% {
    transform: rotate(-5deg);
  }

  92% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
