@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$portfolioListGap: 30px;

.portfolioList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: $portfolioListGap;
  background: linear-gradient(to bottom, #1c1c1c, black);
  padding-bottom: $footer-barberPole-thickness;

  @include breakpointUp($b1280px) {
    background: linear-gradient(to bottom, #1a1a1a, black);
  }
}

.list {
  position: absolute;
  top: -($navBarHeight);
  opacity: 0;
}
