@use "@/styles/global" as *;

$portfolioListGap: 30px;

.portfolio-list {
  background: linear-gradient(to bottom, #1c1c1c, black);
  display: flex;
  flex-wrap: wrap;
  gap: $portfolioListGap;
  padding-bottom: -$portfolioListGap;
  position: relative;

  @include breakpoint-up($b1280px) {
    background: linear-gradient(to bottom, #1a1a1a, black);
  }

  .list {
    position: absolute;
    top: -($navBarHeight);
    opacity: 0;
  }
}
