@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "./ProjectsList.module.scss" as projectsList;

.projectThumbnail {
  aspect-ratio: 3 / 2;
  height: auto;
  position: relative;
  width: 100%;

  @include breakpointUp($b992px) {
    flex: 0 1 calc(50% - projectsList.$projectsListGap * 0.5);
  }

  @include breakpointUp($b1440px) {
    flex: 0 1 calc(33.333% - projectsList.$projectsListGap * (2 / 3));
  }

  .thumbBg {
    filter: saturate(0) contrast(1) brightness(1);
    transition:
      filter 0.4s,
      opacity 1.2s;
    opacity: 0.5;
  }

  // Focus class applied by the scroll-focus hook (CSS module).
  &.focused {
    .thumbBg {
      filter: none;
      transition:
        filter 0.4s,
        opacity 0.4s;
      opacity: 1;
      transition-delay: 0;
    }
  }
}
