@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "./ProjectsList.module.scss" as projectsList;

$hoverPersists: var(--hover-persists, 600ms);

.projectThumbnail {
  aspect-ratio: 3 / 2;
  height: auto;
  position: relative;
  width: 100%;

  @include breakpointUp($b768px) {
    flex: 0 1 calc(50% - projectsList.$projectsListGap * 0.5);
  }

  @include breakpointUp($b1280px) {
    flex: 0 1 calc(33.333% - projectsList.$projectsListGap * (2 / 3));
  }

  @include breakpointUp($b1792px) {
    flex: 0 1 calc(25% - projectsList.$projectsListGap * (3 / 4));
  }

  .thumbBg {
    filter: saturate(0) contrast(1) brightness(1);
    transition:
      filter $hoverPersists,
      opacity 1.2s;
    opacity: 0.5;
  }

  // Focus class applied by the scroll-focus hook (CSS module).
  &.focused {
    .thumbBg {
      filter: none;
      transition:
        filter $hoverPersists,
        opacity $hoverPersists;
      opacity: 1;
      transition-delay: 0;
    }
  }
}
