@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$projectsListGap: 30px;

.projectsList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  scroll-margin-top: $navBarHeight;
  gap: $projectsListGap;
  padding-bottom: $footerBarberPoleThickness;
  background: linear-gradient(to bottom, #1c1c1c, black);

  @include breakpointUp($b1280px) {
    background: linear-gradient(to bottom, #1a1a1a, black);
  }
}

.list {
  position: absolute;
  top: -($navBarHeight);
  opacity: 0;
}
