@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "./ProjectsListClient.module.scss" as projectsList;

.projectThumbnail {
  height: 290px;
  position: relative;
  overflow: hidden; // Fix gap on left side of vignette.
  width: 100vw;

  @include breakpointUp($b768px) {
    flex: 0 1 calc(50% - projectsList.$projectsListGap * 0.5);
  }

  @include breakpointUp($b1280px) {
    flex: 0 1 calc(33.333% - projectsList.$projectsListGap * (2 / 3));
  }

  @media screen and (hover: hover) {
    &:hover {
      .thumbBg {
        filter: blur(0);
        opacity: 1;
      }
      .vignette {
        opacity: 0.5;
        transition: opacity 0.3s linear;
      }

      .thumbContent {
        opacity: 1;

        > * {
          transform: translateX(0);
          filter: blur(0);

          &:nth-child(1) {
            transition-delay: 0s;
          }
        }
      }
    }
  }

  @media screen and (hover: none) {
    &.projectThumbnailFocus {
      .thumbBg {
        filter: blur(0);
        opacity: 1;
      }

      .vignette {
        opacity: 0.5;
        transition: opacity 0.3s linear;
      }

      .thumbContent {
        opacity: 1;

        > * {
          transform: translateX(0);
          filter: blur(0);

          &:nth-child(1) {
            transition-delay: 0s;
          }
        }
      }
    }
  }
}

.stripes {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

// Expose variant classes so the component can toggle them.
.stripesPurple { --stripe-variant: purple; }
.stripesGreen { --stripe-variant: green; }
.stripesYellow { --stripe-variant: yellow; }

.stripesTop {
  .stripesPurple & {
    background-image: url("/images/projects-list/stripes-purple.webp");
  }
  .stripesGreen & {
    background-image: url("/images/projects-list/stripes-blue.webp");
  }
  .stripesYellow & {
    background-image: url("/images/projects-list/stripes-orange.webp");
  }
}

.stripesBot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url("/images/projects-list/stripes-bot.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.brandLogo {
  max-height: 32px;
  max-width: 60%;
  width: auto;
  margin-bottom: 6px;
  object-fit: contain;
  object-position: left;
}

h4.thumbTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.vignette {
  position: absolute;
  background-image: url("/images/projects-list/vignette.svg");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  left: 0;
  z-index: 0;
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.5s linear;
}

.thumbContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-left: 20px;
  padding-top: 16px;
  width: 100%;
  height: 100px;
  opacity: 0.01; // Too small a decimal causes a frame drop? Seems like it.
  will-change: opacity, filter;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s linear;
  overflow: hidden;

  // Name and logo
  > * {
    will-change: transform, filter;
    transition:
      transform 0.4s ease-out,
      filter 0.3s linear;
    filter: blur(10px);

    &:first-child {
      transform: translateX(-20%);
      height: 44px;
    }

    &:nth-child(2) {
      transition-delay: 0.03s;
      transform: translateX(20%);
    }
  }

  &.hoverFocusThumbContent {
    opacity: 1;

    > * {
      transform: translateX(0px);
      filter: blur(0);

      &:nth-child(1) {
        transition-delay: 0s;
      }
    }
  }
}

.hoverFocusVignette {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}

.thumbBg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  filter: saturate(0) contrast(1.3);
  opacity: 0.6;
  transition:
    filter 0.5s linear,
    opacity 0.5s linear;
}
