@use "@/styles/global" as *;

.carousel-wrapper {
  width: 992px; // default to prevent collapse.
  height: 100%;
}

.carousel-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  // scroll-snap-type: x mandatory;
  scroll-snap-type: none;
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Webkit
  }
}

.slave-wrapper {
  .carousel-slider {
    overflow-x: visible;
    scroll-snap-type: none;
  }
}

.hidden-slide {
  visibility: hidden;
}

.debug-info {
  position: absolute;
  top: 26px;
  transform: translateY(-50%);
  left: 96px;
  z-index: 100;
  color: #666;
  font-size: 8px;
  div {
    display: inline;
    margin-right: 4px;
  }
}

.carousel-slide {
  position: absolute;
  width: 693px;
  scroll-snap-align: center;
}

.debug {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: center;
}

.carousel-test1 {
  position: absolute;
  left: 100000000px;
}

.carousel-test2 {
  // visibility: hidden;
  position: absolute;
  left: 1001024px;
  border: 1px solid red;
  height: 500px;
}
