@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.carousel {
  position: absolute;
}

.carouselScroller {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: none;
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Webkit
  }
}

.slave {
  .carouselScroller {
    overflow-x: visible;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.hiddenSlide {
  // visibility: hidden;
}

.debugInfo {
  position: absolute;
  top: 26px;
  transform: translateY(-50%);
  left: 96px;
  z-index: 100;
  color: #fff;
  font-size: 8px;
  div {
    display: inline;
    margin-right: 4px;
  }
}

.carouselSlide {
  position: absolute;
  scroll-snap-align: center;
  height: 100%;
}

.debug {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: center;
}

.carouselShim {
  // A helper for positioning.
  // Is this preventing the shift?
  visibility: hidden;
  position: absolute;
  border: 1px solid #666;
  height: 500px;
}
