@use "@/styles/global";

.carousel {
  position: absolute;
  width: 992px;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  // scroll-snap-type: x mandatory;
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    // Webkit
    display: none;
  }
}

.debug-info {
  position: absolute;
  top: 26px;
  transform: translateY(-50%);
  left: 96px;
  z-index: 100;
  color: #666;
  font-size: 8px;
  div {
    display: inline;
    margin-right: 4px;
  }
}

.carousel-slide {
  position: absolute;
  width: 693px;
  scroll-snap-align: center;
}
