@use "@/styles/global";
@use "sass:math";

$device-width: 693;
$device-widthPx: $device-width + px;
$device-halfWidthPx: math.div($device-width, 2) + px;
$negative-device-halfWidthPx: - math.div($device-width, 2) + px; // Was previously global.

.device-shot-extend {
  position: absolute;
  width: $device-widthPx;
  height: 512px;
}

.project-shot {
  @extend .device-shot-extend;
  left: $negative-device-halfWidthPx;

  .full-project-desktop-shot {
    @extend .device-shot-extend;
    transition:
      transform 0.3s ease-out,
      top 0.3s ease-out,
      opacity 0.3s;
    background-image: url("../../assets/images/project-carousel/desktop-device.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .full-project-mobile-shot {
    @extend .device-shot-extend;
    transition:
      transform 0.4s ease-out,
      top 0.4s ease-out,
      opacity 0.4s;

    &.landscape {
      background-image: url("../../assets/images/project-carousel/mobile-device-landscape.png");
      background-size: contain;

      .full-project-mobile-cap {
        top: 227px;
        left: 294px;
        width: 354px;
      }
    }

    &.portrait {
      background-image: url("../../assets/images/project-carousel/mobile-device-portrait.png");
      background-size: contain;

      .full-project-mobile-cap {
        top: 69px;
        left: 484px;
        width: 162px;
      }
    }
  }

  .full-project-desktop-cap {
    position: absolute;
    top: 38px;
    left: 95px;
    width: 500px;
  }

  .full-project-mobile-cap {
    position: absolute;
  }
}
