@use "@/styles/global";
@use "sass:math";

.device-presentation {
  height: 414px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 800px;
  scroll-snap-align: "start";
  box-sizing: border-box;
}

.background-wrapper {
  // One slide.
  height: 414px;
  position: absolute;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  width: 693px;
  scroll-snap-align: "start";
  box-sizing: border-box;

  .sceencap {
    position: absolute;
  }

  &.laptop {
    background-image: url("../../images/project-carousel/laptop.png");
    background-position: calc(50% + 4px) center;
    background-size: 693px 414px;

    img {
      position: absolute;
      top: 38px;
      left: 98px;
      height: 310px;
      width: 500px;
    }
  }

  &.phone {
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 460px;
      width: 220px;
      height: 409px;
      background-image: url("../../images/project-carousel/phone.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    img {
      position: absolute;
      left: 493px;
      top: 75px;
      height: 354px;
      width: 162px;
    }

    &.portrait {
      border: 1px solid green;

      img {
        top: 20px;
        left: 300px;
      }
    }

    &.landscape {
      &::before {
        transform: rotate(90deg);
      }
      img {
        top: 227px;
        left: 294px;
        transform: rotate(90deg);
      }
    }
  }
}
