@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.devicePresentation {
  height: 420px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  pointer-events: none;
  will-change: filter;
  transition: filter 0.4s ease-in-out;
}

.backgroundWrapper {
  height: 414px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;

  &.laptop {
    background-image: url("/images/project-carousel/laptop.webp");
    background-position: calc(50% + 2px) center;
    background-size: 693px 414px;
    width: 693px;
    transform: translateX(-50%) scale(0.98);
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    img {
      position: absolute;
      top: 38px;
      left: 97px;
      height: 310px;
      width: 500px;
    }
  }

  &.phone {
    &::before {
      content: "";
      position: absolute;
      top: 46px;
      left: 465px;
      width: 220px;
      height: 409px;
      background-image: url("/images/project-carousel/phone.webp");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.4s ease-in-out;
      transform: translateY(3%) rotate(1deg);
      // Rotate from a point near the bottom (but not fully bottom) for a more natural hinge effect
      // Using 50% 85% keeps horizontal center while shifting vertical pivot upward slightly from bottom edge
      transform-origin: 50% 85%;
      will-change: transform;
    }

    img {
      position: absolute;
      height: 354px;
      width: 162px;
      transition: transform 0.4s ease-in-out;
      transform: translateY(3%) rotate(1deg);
      // Match pseudo-element pivot so phone screen rotates around same hinge
      transform-origin: 50% 85%;
      will-change: transform;
    }

    &.none {
      display: none;
    }

    &.Portrait {
      img {
        left: 493px;
        top: 69px;
      }
    }

    &.Landscape {
      &::before {
        transform: translateY(5px) rotate(91deg);
        top: 135px;
        left: 337px;
        // Preserve pivot for landscape orientation
        transform-origin: 50% 85%;
      }
      img {
        top: 258px;
        left: 276px;
        height: 162px;
        width: 354px;
        transform: translateY(5px) rotate(1deg);
        transform-origin: 50% 85%;
      }
    }
  }
}

// Stabilized and tilt overrides with higher specificity
:global(.bbStabilizedSlide) {
  .backgroundWrapper.phone {
    &.Portrait {
      &::before {
        transform: translateY(3%) rotate(0deg) !important;
      }
      img {
        transform: translateY(3%) rotate(0deg) !important;
      }
    }
    &.Landscape {
      &::before {
        transform: translateY(5px) rotate(90deg) !important;
      }
      img {
        transform: translateY(5px) rotate(0deg) !important;
      }
    }
  }
}

:global(.bbTiltLeft) {
  .backgroundWrapper.phone {
    &.Portrait {
      &::before {
        transform: translateY(3%) rotate(2deg) !important;
      }
      img {
        transform: translateY(3%) rotate(2deg) !important;
      }
    }
    &.Landscape {
      &::before {
        transform: translateY(5px) rotate(92deg) !important;
      }
      img {
        transform: translateY(5px) rotate(2deg) !important;
      }
    }
  }
}

:global(.bbTiltRight) {
  .backgroundWrapper.phone {
    &.Portrait {
      &::before {
        transform: translateY(3%) rotate(-4deg) !important;
      }
      img {
        transform: translateY(3%) rotate(-4deg) !important;
      }
    }
    &.Landscape {
      &::before {
        transform: translateY(5px) rotate(87deg) !important;
      }
      img {
        transform: translateY(5px) rotate(-3deg) !important;
      }
    }
  }
}
