@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.infoSwapper {
  position: relative;
  left: 0;
  overflow: visible;
  min-height: 100px;
  margin-bottom: 100px;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: height 0.9s ease 0.9s;
}
