.logo-swapper {
  $maxHeight: 50px;
  position: absolute;
  left: 10vw;
  top: 50px;
  height: 50px;
  opacity: 0.0001;
  transition: opacity 0.5s;
  width: 300px;
  img.client-logo {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.0001;
    max-height: $maxHeight;
    max-width: 100%;
    transform: translateY(-50%);
    transition: filter 0.5s;
    will-change: filter, opacity;
    object-fit: fill;
    filter: blur(20px);
    &.visible {
      opacity: 1;
    }
  }

  &.unblurred {
    img.client-logo {
      filter: blur(0);
    }
  }
  &.fade-in {
    opacity: 1;
  }
}
