@use "@/styles/global" as *;

.project-nav {
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between; /* Positions the buttons at opposite ends */
  align-items: center; /* Ensures buttons are vertically aligned */

  @include breakpoint-up($b768px) {
    top: 340px;
    position: absolute;
  }
}

.nav-button {
  height: 98px;
  width: 98px;
  object-fit: cover;
  border-radius: 0 50% 50% 0;
  display: flex;
  background-color: black;

  @include breakpoint-up($b768px) {
    transform: translateY(-50%) translateX(-20px);
  }

  img {
    width: 55px;
    background-image: url("../../images/project-carousel/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg) scale(0.75);

    @include breakpoint-up($b768px) {
      transform: rotate(90deg) scale(0.75);
    }

    @include breakpoint-up($b992px) {
      transform: rotate(90deg) scale(1);
    }
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
    transform: scaleX(-1);

    @include breakpoint-up($b768px) {
      transform: translateY(-50%) scaleX(-1) translateX(-20px);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
