@use "@/styles/global" as *;

.project-nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  margin-top: 20px;
  margin-bottom: 40px;

  @include breakpoint-up($b768px) {
    top: 340px;
    position: absolute;
  }
}

.nav-button {
  position: relative;
  height: 50px;
  width: 40vw;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  background-color: black;
  pointer-events: all;
  
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before {
    content: " ";
    position: absolute;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 50%;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    z-index: 2;
  }

  &.next {
    transform: scaleX(-1);
  }
}