@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

$mainBreak: $b992px;
$maxScaleBreak: 680px; // Max vw limit of the carousel scaling

.projectNav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  pointer-events: none;
  width: 100vw;
  @include fluidProperty(top, $b320px, $maxScaleBreak, 80px, 155px);
}

.navButton {
  position: relative;
  pointer-events: all;
  transform-origin: center 0;

  &.next {
    transform: scaleX(-1);
    margin-left: -1px;
  }
}

.inner {
  position: relative;
  display: flex;
  object-fit: cover;
  background: linear-gradient(to right, #000, #555);
  border-radius: 0 50% 50% 0;
  background: rgba(0, 0, 0, 0.7);
  @include fluidProperty(height, $b320px, $mainBreak, 40px, 96px);
  @include fluidProperty(width, $b320px, $mainBreak, 40px, 96px);
  @include fluidProperty(margin-left, $b320px, $mainBreak, -10px, -20px);
  @include breakpointUp($b640px) {
    background: #000;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    border-top: 0 solid #fff;
    border-left: 0 solid #fff;
    top: 50%;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    @include fluidProperty(border-width, $b320px, $mainBreak, 4.5px, 8px);
    @include fluidProperty(height, $b320px, $mainBreak, 17px, 36px);
    @include fluidProperty(width, $b320px, $mainBreak, 17px, 36px);
    @include fluidProperty(left, $b320px, $mainBreak, 15px, 40px);
  }
}
