@use "@/styles/global";

.carousel {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.1);
}

.slide-layer {
  position: absolute;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  width: 1024px;
  overflow: visible;
  @include global.fluid-property(
    margin-top,
    global.$b360px,
    global.$b1440px,
    75px,
    140px
  );
}
