@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.projectCarouselView {
  position: relative;
  height: 470px;
  width: 992px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);

  /* Use staticRange for carousel spacing - viewport-based, not text-size-based */
  @include staticRange("margin-top", -115px, 0px, $b320, 680px);
  @include staticRange("margin-bottom", -115px, 0px, $b320, 680px);

  /* Apply centering and scaling transforms together */
  @include scaleRange(0.4755, 1, $b320, 680px, translateX(-50%));
}

.layeredCarouselManager {
  height: 100%;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carouselLaptops {
  pointer-events: none;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}

.carouselPhones {
  height: 470px;
  pointer-events: none;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0)
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}

.carouselMaster {
  height: 466px;

  .carouselSlide {
    visibility: hidden;
    width: 693px;
    height: 444px;
    pointer-events: none;
    &:nth-child(3n-1) {
      background-color: rgba(23, 200, 35, 0.1);
    }
    &:nth-child(3n-2) {
      background-color: rgba(23, 65, 200, 0.1);
    }
    &:nth-child(3n-3) {
      background-color: rgba(243, 65, 0, 0.1);
    }
  }
}

.carouselSlide {
  width: 693px;
}
