@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.projectCarouselView {
  position: relative;
  height: 470px;
  width: 992px;
  box-sizing: border-box;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);

  @include remRange("margin-top", -115px, 0px, $b320, 680);
  @include remRange("margin-bottom", -115px, 0px, $b320, 680);
}

.layeredCarouselManager {
  height: 100%;
}

.carouselWrapper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.slideLayer {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: visible;
}

.carousel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.carouselMaster {
  height: 466px;
}

.carouselLaptops {
  pointer-events: none;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-repeat: no-repeat;
  mask-size: cover;
  height: 100%;
}

.carouselPhones {
  height: 470px;
  pointer-events: none;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0)
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}

.slideWrapper {
  visibility: hidden;
  width: 693px;
  height: 444px;
  pointer-events: none;
  &:nth-child(3n-1) {
    background-color: rgba(23, 200, 35, 0.1);
  }
  &:nth-child(3n-2) {
    background-color: rgba(23, 65, 200, 0.1);
  }
  &:nth-child(3n-3) {
    background-color: rgba(243, 65, 0, 0.1);
  }
}

.carouselSlide {
  width: 693px;
  border: 1px solid red;
}
