@use "@/styles/global";

.parallax-carousel {
  height: 450px;
  min-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  z-index: 0;
}

.transparent-slide {
  height: 495px;
  font-size: 0;
  padding: 20px;
  padding-top: 6px;
  width: 693px;
}

.slide-layer {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: visible;
}

:global {
  .bb-carousel-laptops {
    left: 50vw;
    transform: translateX(-50%);
    scroll-snap-type: none; // Critical for slave carousels!
    pointer-events: none;

    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0)
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
  .bb-carousel-master {
    left: 50vw;
    transform: translateX(-50%);
    height: 459px;
    scroll-snap-type: x mandatory;
  }
  .bb-carousel-phones {
    left: 50vw;
    transform: translateX(-50%);
    height: 459px;
    pointer-events: none;
    scroll-snap-type: none; // Critical for slave carousels!

    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0)
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}
