@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.parallaxCarousel {
  height: 470px;
  position: relative;
  box-sizing: border-box;
  z-index: 0;

  @include fluidProperty("margin-top", $b320px, 680px, -115px, 0px);
  @include fluidProperty("margin-bottom", $b320px, 680px, -115px, 0px);
}

.slideLayer {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: visible;
}

// .stabilizedSlide {
//   opacity: 1;
// }

:global {
  .bbCarousel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .bbCarouselLaptops {
    pointer-events: none;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
    mask-repeat: no-repeat;
    mask-size: cover;
    height: 100%;
  }
  .bbCarouselMaster {
    height: 466px;
  }
  .bbCarouselPhones {
    height: 470px;
    pointer-events: none;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0)
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  .bbSlideWrapper {
    visibility: hidden;
    width: 693px;
    height: 444px;
    pointer-events: none;
    &:nth-child(3n-1) {
      background-color: rgba(23, 200, 35, 0.1);
    }
    &:nth-child(3n-2) {
      background-color: rgba(23, 65, 200, 0.1);
    }
    &:nth-child(3n-3) {
      background-color: rgba(243, 65, 0, 0.1);
    }
  }
}
