@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.projectInfo {
  overflow: visible;
  pointer-events: none;
  visibility: hidden;

  > * {
    position: relative;
    opacity: 0;
  }

  &.active {
    pointer-events: all;
    visibility: visible;

    > * {
      animation-delay: calc(var(--index) * 0.2s);
    }
  }

  div {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 0;
    }
  }

  a {
    color: $lighterThemeColor; // 'heavier' theme color looked too dark on bold text.
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:hover {
      color: $lighterThemeColor;
    }
    &:visited {
      color: $lighterThemeColor;
    }
    &:active {
      color: $lighterThemeColor;
    }
  }
}

:global(.bbSlideLeft) {
  .projectInfo.active > * {
    animation: slideLeftFadeIn 0.6s ease-out calc(var(--index) * 0.2s) forwards;
  }
}

:global(.bbSlideRight) {
  .projectInfo.active > * {
    animation: slideRightFadeIn 0.6s ease-out calc(var(--index) * 0.2s) forwards;
  }
}

@keyframes slideRightFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftFadeIn {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

////////////////////////////////////////
/// Btns
////////////////////////////////////////

.btnGroupLabel,
.btn {
  background-color: #333;
  color: #fff !important;
  text-decoration: none !important;
  height: 30px;
  min-width: 100px;
  line-height: 17px;
}

.btn {
  margin-right: 20px;
  margin-bottom: 20px;
  &:hover {
    color: #fff;
    background-color: #444;
    text-decoration: none !important;
  }
}

.btnGroup {
  flex-direction: row;
  .btn {
    margin-right: 0;
  }
}

.btnGroupLabel {
  cursor: default;
}
