@use "@/styles/global";

.carousel {
  height: 450px;
  width: 693px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  z-index: 0;
}

.transparent-slide {
  height: 100%;
  font-size: 50px;
  padding: 20px;
  padding-top: 6px;
  display: flex;
}

.slide-layer {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  scroll-snap-type: x mandatory;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: visible;
}

:global {
  .bb-carousel {
    width: 100vw;
    margin-left: calc((100vw - 693px) / -2);
    margin-right: calc((100vw - 693px) / -2);
  }
}
