@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.projectsPresentationBody {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: url("/images/common/bg-grad.svg");
  color: #fff;
  // @include lerpRange(padding-top, 20px, 40px);

  :global(.max-w-container) {
    max-width: 1024px;
    width: 100%;
    padding: 0;
  }
}

.carouselControlsWrapper {
  position: relative;
  width: 100vw;
  z-index: 2;
}
