@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.logoutButton {
  button {
    padding-left: 0;
    min-width: 20px;
    min-height: 17px;
    background-color: currentColor !important;
    background-repeat: no-repeat;
    mask-image: url("/images/icons/logout.svg");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: left center;
    font-size: 0 !important;
  }
}
