@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.logoutButton {
  .logoutControl {
    padding-left: 0;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-inline: auto;
    background-color: currentColor !important;
    background-repeat: no-repeat;
    mask-image: url("/images/icons/logout.svg");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center center;
    font-size: 0 !important;
    overflow: hidden;

    @include breakpointUp($b576px) {
      margin-inline: 0;
    }
  }

  .logoutControlError {
    width: auto;
    padding-left: initial;
    background-color: #c43d2f !important;
    mask-image: none;
    font-size: inherit !important;
    color: #c43d2f;
  }
}

.loadingLink {
  visibility: hidden;
  pointer-events: none;
}
