@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.logoutButton {
  background: none;
  padding-left: 0;
  height: $navBarHeight;
  width: $navBarHeight;
  mask-image: url("/images/icons/logout.svg");
  mask-size: 20px 20px;
  background-color: currentColor;
  border: 1px solid red;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
  button {
    font-size: 0 !important;
  }
}
