@use "@/styles/global" as *;

.barber-pole {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.stripes {
  width: 400%;
  height: 100%;
  background: url(/images/common/barber-pole.svg);
  background-size: 50%;
  background-repeat: repeat;
  position: absolute;
  animation: scrollStripes linear infinite;
  animation-duration: 4s;
}

@keyframes scrollStripes {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
