@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.fpsCounter {
  position: relative;
  left: calc(-1 * var(--hero-padding));
  display: inline-block;
  margin-top: 10px;
  font-family: "Digital-7", "Courier New", "Monaco", "Consolas", monospace;
  white-space: nowrap;
  z-index: 10000;
  color: #00ff00;
  height: 6.5rem;
  opacity: 0.8;
  transform-origin: top left;
  // keep overlay on top of hero content
  // create a high stacking context for visibility in dev
  // (was mistakenly overridden to 1)
  // z-index remains 10000
  mix-blend-mode: exclusion;
  line-height: 1em;
  border: 1px solid #00ff00;
  border-left-width: 0;
  padding-left: 0.15em;
  padding-right: 0.1em;
  padding-top: 0;
  background-color: rgba(0, 255, 0, 0.06);

  @include remRange(font-size, 48px, 68px);

  & > div {
    &:nth-child(2) {
      position: absolute;
      top: 0;
      // https://stackoverflow.com/a/28413382/1253298
      background-color: var(--gunmetal-gray);
      color: transparent;
      text-shadow: 0px 0.03em 0.03em green;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      filter: brightness(1.3) blur(0.01em);
      mix-blend-mode: darken;
    }
  }
}

.label {
  @include remRange(font-size, 16px, 36px);
  display: block;
  margin: 0.1em;
  line-height: 1.45em;
  margin-bottom: 0.21em;
}

.tab {
  position: absolute;
  top: calc(100% + 1px);
  left: 100%;
  width: 6.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #00ff00;
  transform-origin: top left;
  transform: rotate(-90deg);
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include remRange(font-size, 8px, 11px);
  letter-spacing: -0.006em;
  line-height: normal !important;
  cursor: pointer;
  z-index: 10000;
}

.digit {
  display: inline-block;
  min-width: 0.6em;
  text-align: right;
  // line-height: 0.1em;
  margin-top: -0.7em;
}

.output {
  line-height: 0.4em;
  letter-spacing: 0.1em;
}
