.spriteSheetScaler {
  will-change: background-position;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  contain: strict;
  transform-origin: top left;
  image-rendering: pixelated;
  position: absolute;
  box-sizing: border-box;
}

.spriteSheetWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.debug {
  position: absolute;
  font-size: 100px;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
