.spriteSheet {
  position: relative;
  border: 1px solid red;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;

  &.empty {
    display: none;
    pointer-events: none;

    * {
      display: none;
      pointer-events: none;
    }
  }
}

.debug {
  position: absolute;
  font-size: 100px;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
