.fluxelGridWrapper {
  aspect-ratio: 4/3;
  height: 100vmax;
  @media (min-aspect-ratio: 4/3) {
    height: auto;
    width: 100vmax;
  }
  * {
    pointer-events: none;
    contain: layout paint size style;
  }
  canvas {
    width: 100%;
    height: 100%;
    display: block;
    image-rendering: pixelated;
  }
}
