.fluxelGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items within each row (horizontal centering) */
  align-content: center; /* Center the entire group of rows vertically */
  pointer-events: none;
  box-sizing: border-box;
  aspect-ratio: 4/3;
  /* Note that scaling with vmax does NOT account for the location bar in iOS Safari,
  so that means the top and bottom rows are slightly clipped, which isn't really
  a problem. It looks like the solution would be JavaScript, but that kind sucks.
  */
  height: 100vmax;
  @media (min-aspect-ratio: 4/3) {
    height: auto;
    width: 100vmax;
  }
  * {
    pointer-events: none;
  }
  > * {
    // Here because some of the same styles need applied to
    // the placeholders as well the actual fluxels
    position: relative;
    flex: 1 1 calc(100% / var(--cols));
    aspect-ratio: 1 / 1;
    outline: 1px solid rgba(20, 20, 20, 0.7);
    border-radius: 1px;
    image-rendering: pixelated;
    box-sizing: content-box;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

.inactivePlaceholder {
  visibility: hidden;
  color: white;
  overflow: hidden;
}

.debug {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 300px;
  left: 300px;
}
