.fluxel {
  position: relative;
  aspect-ratio: 1 / 1;
  // --base-color: #ff0000;
  background-color: var(--base-color);
}

.overlayIsolated {
  isolation: isolate;
  mix-blend-mode: normal;
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.debug {
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  position: absolute;
  top: 0;
}
