@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.fluxelGrid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  background: transparent;
  border: 2px solid $heavierThemeColor;
}
