.fluxelGridWrapper {
  aspect-ratio: 4/3;
  height: 100vmax;
  @media (min-aspect-ratio: 4/3) {
    height: auto;
    width: 100vmax;
  }
  * {
    pointer-events: none;
    // contain: layout paint size style;
  }
  canvas {
    width: 100% !important; // NO. Can't do this with Pixi.
    height: 100% !important; // NO. Can't do this with Pixi.
    display: block;
    image-rendering: pixelated;
    border: 1px solid red;
  }
}
