.fluxel {
  position: relative;
  flex: 1 1 calc(100% / var(--cols));
  aspect-ratio: 1 / 1;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 1px;
  image-rendering: pixelated;
  // background-repeat: no-repeat; // Breaks it!!!
  background-size: 1200%;
  overflow: hidden;
  background-position-x: calc(var(--fluxel-col) * -100%);
  background-position-y: calc(var(--fluxel-row) * -100%);
}

.debug {
  color: white;
  font-size: 8px;
  position: absolute;
  top: 0;
}
