.gridController {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
  width: var(--responsive-scaler-width);
  height: var(--responsive-scaler-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.animationSequencer {
  position: absolute;
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
}

.fluxelGridCanvas {
  position: absolute;
  aspect-ratio: 4/3;
  mix-blend-mode: multiply;
}

.projectilesOverlay {
  z-index: 2;
}

.gridLinesOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply;

  --grid-line-color: rgba(0, 0, 0, 0.75);
}

.gridLinesSvg {
  position: absolute;
  display: block;
}
