.gridController {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--client-height);
}

.animationSequencer {
  position: absolute;
  aspect-ratio: 4/3;
}
