.fluxel-interactive {
  background-image: (url("/images/fluxel-animations/interactive.gif"));
}

.fluxel-burst1 {
  background-image: (url("/images/fluxel-animations/burst1.gif"));
}

.fluxel-invaders {
  background-image: (url("/images/fluxel-animations/invaders-landscape.gif"));
  @media (orientation: portrait) {
    background-image: (url("/images/fluxel-animations/invaders-portrait.gif"));
  }
}
