.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
}

.projectile {
  shape-rendering: crispEdges;
}
