@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.cvPage {
  h5 {
    .location {
      font-weight: 500;
      font-size: 16px;
      white-space: normal;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 6px;
    padding-left: 1em;
    text-indent: -0.7em;
    &::before {
      content: "• ";
      font-size: 20px;
      line-height: 0;
      position: relative;
      top: 2px;
      color: $heavierThemeColor;
    }
  }
}

.row {
  &:last-child {
    .cvRight:last-child {
      margin-bottom: 0;
    }
  }
}

.subContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 0;
  align-items: baseline;
  flex-wrap: wrap;
}

.rightSub,
.leftSub {
  font-size: 18px;
  color: $heavierThemeColor;
  margin-bottom: 6px;
  margin-top: 0;
  margin-left: 0;
  line-height: 1.3em;
  margin-right: 0;
  float: right;
}

.rightSub {
  font-size: 15px;
}

.leftSub {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  @include breakpointUp($b768px) {
    width: unset;
  }
}

img.cvLogo {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @include remRange(height, 120px, 130px, $b360);
  @include remRange(max-width, 130px, 140px, $b360, $b1440);

  @include breakpointUp($b768px) {
    position: relative;
    top: 5px;
    margin-top: 0;
  }
}

.row:first-of-type {
  img.cvLogo {
    margin-top: 20px;
    @include breakpointUp($b768px) {
      margin-top: revert;
    }
  }
}

.cvRight {
  margin-bottom: 40px;
  > *:last-child {
    margin-bottom: 0;
  }
  ul li {
    padding-left: 8px;
  }

  @include breakpointUp($b768px) {
    p,
    ul {
      margin-bottom: 10px;
    }
  }
}

.cvLeft {
  display: flex;
  justify-content: center;
}

.inlineListItem {
  &:last-of-type {
    .bullet {
      display: none;
    }
  }

  .phrase {
    white-space: nowrap;
  }

  .bullet {
    color: $heavierThemeColor;
    line-height: 18px;
    font-size: 20px;
    position: relative;
    top: 1.75px;
    left: 0.75px;
  }
}

.scope {
  font-size: 16px;
  color: $heavierThemeColor;
  span:nth-child(1) {
    color: #000;
  }
}

.desc {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 17px;
}

.badges {
  width: 100%;
  margin-bottom: 30px;
  img {
    width: 19px;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
  }
}

.strong {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 16px;
}

.summary {
  p {
    font-size: 20px;
    line-height: 1.5em;
  }
}

.strengths {
  ul {
    margin-bottom: 40px;
  }
  h5 {
    // color: #ff8800 !important;
    color: $complimentaryThemeColor !important;
    font-size: 32px;
  }
  li {
    font-size: 16px;
  }
}

.parenthetical {
  font-size: 0.7em;
  color: #666;
}

:global {
  .cvPage .container {
    @include remRange(margin-bottom, 50px, 90px, $b360, $b1280);
  }
  .cvPage h4 {
    @include remRange(margin-bottom, 28px, 80px, $b360, $b1280);
  }
}
