@import "@/styles/_global";

#main_content.cv-page {

  padding-top: 90px;
  padding-bottom: 90px;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  margin-left: 10px;
  margin-right: 10px;

  .row {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $heavierThemeColor;
    &:last-of-type {
      border-bottom: 0;
    }
  }

  h5 {
    position: relative;
    font-weight: 500;
    margin-bottom: 3px;
    color: black;
    white-space: normal;

    .location {
      font-weight: 500;
      font-size: 16px;
      white-space: normal;
    }
  }

  .left-sub {
    font-weight: bold;
    width: 100%;
    img.cv-logo {
      display: block;
      float: none;
      margin-bottom: 15px;
      height: 160px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      @media (min-width: $smpx) {
        display: inline-block;
        width: auto;
        height: 46px;
        float: left;
        position: relative;
        top: 5px;
        margin-right: 14px;
        margin-top: 0;
      }
    }
  }

  .cv_right {
    ul li {
      padding-left: 8px;
    }

    @media (min-width: $-smpx) {
      border-left: 1px dashed $heavierThemeColor;
      padding-left: 20px;

      p,
      ul {
        margin-bottom: 10px;
      }
    }
  }

  h4:first-child {
    padding-top: 0px;
    margin-top: 0px;
    @media (min-width: $-smpx) {
      font-size: 26px;
    }
    @media (min-width: $-mdpx) {
      font-size: 34px;
    }
  }

  .cv-listing {
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .inline-list-item {
    &:last-of-type {
      .bullet {
        display: none;
      }
    }

    .phrase {
      white-space: nowrap;
    }

    .bullet {
      color: $heavierThemeColor;
      line-height: 18px;
      font-size: 20px;
      position: relative;
      top: 1.75px;
      left: 0.75px;
    }
  }

  .scope {
    font-size: 16px;
    color: $heavierThemeColor;
    span:nth-child(1) {
      color: #000;
    }
  }

  .desc {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 17px;
  }

  p,
  ul {
    max-width: 700px;

    li {
      margin-bottom: 6px;
    }
  }

  .badges {
    width: 100%;
    margin-bottom: 30px;
  }

  .gold-badge {
    width: 20px;
    height: auto;
    float: left;
    margin-right: 6px;
    margin-top: 6px;
  }
}
