@use "@/styles/global" as *;

.cv-page {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint-up($b768px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  h4 {
    border-bottom: 2px solid $heavierThemeColor;
    padding-bottom: 20px;
    font-size: 40px;
    color: #777;
    font-weight: 400;
    margin-bottom: 6px;
    line-height: 1.1em;
    @include fluid-property(font-size, $b360px, $b1280px, 40px, 48px);
    &:first-child {
      padding-top: 0px;
      margin-top: 0px;
    }
  }

  h5 {
    position: relative;
    font-size: 28px;
    margin-bottom: 3px;
    color: black;
    white-space: normal;

    .location {
      font-weight: 500;
      font-size: 16px;
      white-space: normal;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 6px;
    padding-left: 1em;
    text-indent: -0.7em;
    &::before {
      content: "• ";
      font-size: 20px;
      line-height: 0;
      position: relative;
      top: 2px;
      color: $heavierThemeColor;
    }
  }
}

.row {
  &:last-child {
    .cv-right:last-child {
      margin-bottom: 0;
    }
  }
}

.sub-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 0px;
  align-items: baseline;
  flex-wrap: wrap;
}

.right-sub,
.left-sub {
  font-size: 18px;
  color: $heavierThemeColor;
  margin-bottom: 6px;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 1.3em;
  margin-right: 0;
  float: right;
}

.right-sub {
  font-size: 15px;
}

.left-sub {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  @include breakpoint-up($b768px) {
    width: unset;
  }
}

img.cv-logo {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @include fluid-property(height, $b360px, $b1440px, 120px, 130px);
  @include fluid-property(max-width, $b360px, $b1440px, 130px, 140px);

  @include breakpoint-up($b768px) {
    position: relative;
    top: 5px;
    margin-top: 0;
  }
}

.cv-right {
  margin-bottom: 40px;
  > *:last-child {
    margin-bottom: 0;
  }
  ul li {
    padding-left: 8px;
  }

  @include breakpoint-up($b768px) {
    p,
    ul {
      margin-bottom: 10px;
    }
  }
}

.cv-left {
  display: flex;
  justify-content: center;
}

.inline-list-item {
  &:last-of-type {
    .bullet {
      display: none;
    }
  }

  .phrase {
    white-space: nowrap;
  }

  .bullet {
    color: $heavierThemeColor;
    line-height: 18px;
    font-size: 20px;
    position: relative;
    top: 1.75px;
    left: 0.75px;
  }
}

.scope {
  font-size: 16px;
  color: $heavierThemeColor;
  span:nth-child(1) {
    color: #000;
  }
}

.desc {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 17px;
}

.badges {
  width: 100%;
  margin-bottom: 30px;
  img {
    width: 19px;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
  }
}

.strong {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 16px;
}

.summary {
  p {
    font-size: 20px;
    line-height: 1.5em;
  }
}

.skills {
  ul {
    margin-bottom: 40px;
  }
}

.parenthetical {
  font-size: 0.7em;
  color: #666;
}

:global {
  .cv-page .container {
    @include fluid-property(margin-bottom, $b360px, $b1280px, 28px, 80px);
  }
}
