.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/misc/bg-grad.svg");
  color: #fff;

  > form {
    > div {
      display: flex;
      gap: 10px;
    }
  }

  button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1;
  }
}
