.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/misc/bg-grad.svg");
  background-color: black;
  background-size: 100% 100%;
  color: #bbb;
  padding: 16px;

  > div {
    width: 500px;
    max-width: 100%;
  }

  h1 {
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;

  button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;

    &:hover {
      background-color: #181818;
    }
  }

  input {
    background-color: #222;
    box-shadow: inset 2px 2px 8px #000;
    border: 0;
    padding-left: 10px;
    color: white;
    border-radius: 4px;
    height: 36px;
    width: 200px;
  }

  input:focus,
  textarea:focus {
    outline: none;
    // Be sure fields are at least 16px to
    // avoid automatic zooming on mobile.
    font-size: 16px;
  }
}

.error {
  height: 16px;
  color: #990000;
}
