@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.projects-presentation-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  :global(.max-w-container) {
    max-width: 1024px;
    width: 100%;
    padding: 0;
  }
}

.carousel-control-wrapper {
  position: relative;
  width: 100vw;
}
