@use "@/styles/global" as *;

.projects-presentation-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// .project-info-wrapper {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
// }
