@use "@/styles/global" as *;

// TODO: This needs finished splitting out for detail device and infos.
// Should be split up for a separation of concerns.

#projectCarousel {
  #projectCarouselBody {
    position: relative;
    display: flex;
    flex-direction: column;

    .test {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .btn-group-label:hover {
    color: #ffffff;
  }

  .btn-group-label:active {
    color: #ffffff;
    box-shadow: none;
  }

  #infoWrapper {
    margin-top: -100px;
  }

  #mainContent {
    position: relative;
  }

  #projectNav .nav-button img {
    transform-origin: center left;

    @include breakpoint-up($b480px) {
      transform: scale(0.6);
    }

    @include breakpoint-up($b768px) {
      transform: scale(0.75);
      transform-origin: center left;
    }
  }

  .desc-paragraph {
    margin-top: 12px;
  }

  .desc-paragraph:first-child {
    margin-top: 0;
  }

  // .warn-element {
  //   a:link,
  //   a:hover,
  //   a:visited,
  //   a:active {
  //     color: #666666 !important;
  //   }
  // }

  .my-contribution {
    color: #000000;
    position: relative;
    display: table;
  }

  .role {
    color: #666666;
  }

  .description {
    position: relative;
  }

  // #logoContainer {
  //   height: 40px;
  //   margin-top: 50px;
  //   margin-bottom: 30px;

  //   @include breakpoint-up($b768px) {
  //     margin-top: 60px;
  //   }
  // }
}
