@use "@/styles/global" as *;

// TODO: This needs finished splitting out for detail device and infos.
// Should be split up for a separation of concerns.

#projectCarousel {
  #projectCarouselBody {
    position: relative;
    display: flex;
    flex-direction: column;

    .test {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #projectNav {
    width: 100%;
    position: absolute;
    top: 200px;

    &.not-scaled-on-height {
      position: static;
      height: 75px;
      margin-top: -110px;
      margin-bottom: 120px;

      .nav-button img {
        background-image: url("../images/project-carousel/next-prev-mob.png");
        height: 75px;
      }
    }
  }

  .btn-group-label:hover {
    color: #ffffff;
  }

  .btn-group-label:active {
    color: #ffffff;
    box-shadow: none;
  }

  #infoWrapper {
    margin-top: -100px;
  }

  #mainContent {
    position: relative;
  }

  #projectNav .nav-button img {
    transform-origin: center left;

    @include breakpoint-up($b480px) {
      transform: scale(0.6);
    }

    @include breakpoint-up($b768px) {
      transform: scale(0.75);
      transform-origin: center left;
    }
  }

  .desc-paragraph {
    margin-top: 12px;
  }

  .desc-paragraph:first-child {
    margin-top: 0;
  }

  #projectNav {
    position: absolute;
    .nav-button {
      position: absolute;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
      .prev {
        left: 0;
      }
      img {
        height: 98px;
        width: 80px;
        background-image: url("../images/project-carousel/next-prev.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .warn-element {
    a:link,
    a:hover,
    a:visited,
    a:active {
      color: #666666 !important;
    }
  }

  #projectNav .next {
    transform: scaleX(-1);
    right: 0;
  }

  .my-contribution {
    color: #000000;
    position: relative;
    display: table;
  }

  .role {
    color: #666666;
  }

  .description {
    position: relative;
  }

  #logoContainer {
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;

    @include breakpoint-up($b768px) {
      margin-top: 60px;
    }
  }
}
