@use "@/styles/global" as *;

body,
html {
  font-family: "Roboto";
  font-size: 15px;
  overflow-x: hidden;
}

body {
  background-color: #000;
}

#main {
  z-index: 10;
  position: relative;
  background-color: #fff;
  transform: none;
  transition: transform 0.5s;
  box-shadow: 10px 5px 60px black;
  min-width: 320px;
  overflow-x: hidden;

  &.nav-expanded {
    transform: translateX(-50vw);
  }
}

h3 {
  color: #444444;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 0;
}

h4 {
  color: #444444;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 6px;
  &:not(:first-child) {
    margin-top: 80px;
  }
}

h5 {
  color: #444444;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-block-end: 6px;
}
