@use "@/styles/variables" as *;

.root {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;

  > div {
    font-size: 24px;
    margin-block-start: 0;
    margin-bottom: -2px;

    &:first-of-type {
      margin-top: -3px;
      margin-bottom: -7px;

      span:first-of-type {
        color: #999;
      }

      span:last-of-type {
        color: $lighterThemeColor;
      }
    }

    &:nth-child(2) {
      font-size: 13.9px;
      color: #fff;
      margin-top: -3px;
    }
  }
}

.name > span:first-of-type {
  margin-right: -2px;
}

.roleTitle {
  margin-left: 1px;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}

.root > .text {
  margin-left: 8px;
}

.logo {
  position: relative;
  top: 50%;
  max-height: 38px;
  transform: translateY(-50%);
  height: auto;
  width: auto;
}
